<div mdbModal #galleryModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-xl" role="document" *ngIf="available">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" (click)="close()" >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-xs-1 w-100 h-100 text-center">
          <mdb-carousel class="carousel slide carousel-fade" *ngIf="images" [animation]="'fade'">
            <mdb-carousel-item *ngFor="let img of images; index as i">
              <div class="view w-100">
                <img class="d-block w-100" [src]="img.value" alt="img.name">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
              </div>
              <!--div class="carousel-caption">
                <h3 class="h3-responsive">{{img.title}}</h3>
                <h6 class="lime-text">
                  <strong>{{img.subtitle}}</strong>
                </h6>
                <p>{{img.text}}</p>
              </div-->
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-second-custom" data-dismiss="modal" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>