.modal{
  overflow-x: hidden;
  overflow-y: auto;  
  .modal-header{
    height: 3rem;
    border: none;
    background-color: black;
    color: white;
  }
  
  .modal-body{
    background-color: black;
    color: white;
    
  }
}
