<div class="m-3">
  <blockquote class="blockquote bl-title-first-custom">
    <h3 class="c-text-first-custom mb-0">Banner</h3>
  </blockquote>
  <div class="control-section">
    <app-table [displayedColumns]="['id', 'image','title', 'subtitle', 'text', 'url', 'view', 'edit', 'delete']"
        [textColumns]="['id', 'Imagen', 'Titulo', 'Subtitulo', 'Descripcion', 'url']" [type]="'BANNER'" (detail)="onDetail($event)"
        (new)="onNew()" (edit)="onEdit($event)" (delete)="onDelete($event)" (restore)="onRestore($event)"></app-table>
</div>
</div>
