<div
  mdbModal
  #cartHistoryModal="mdbModal"
  class="modal fade"
  tabindex="0"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: false }"
>
  <div class="modal-dialog modal-lg min-width" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Tus compras</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mx-0" *ngIf="selectedCart">
          <div class="row mx-0">
            <!--Accordion wrapper style="max-height: 28px"-->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="w-1rem">#</th>
                  <th class="w-100">Item</th>
                  <th class="w-5rem">Precio</th>
                  <th class="w-6rem">Cantidad</th>
                  <th class="w-6rem">Total</th>
                  <th class="w-3rem" *ngIf="selectedCartIsCurrentGeneral"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of selectedCart.cartProducts; index as i">
                  <th>{{ i + 1 }}</th>
                  <td (click)="openProductDetailModal(item.product.id)">
                    {{ item.product.title }}
                  </td>
                  <td>{{ item.product.price | currency: "$" }}</td>
                  <td>
                    {{ item.quantity }}
                  </td>
                  <td>
                    {{ item.product.price * item.quantity | currency: "$" }}
                  </td>
                  <td
                    *ngIf="selectedCartIsCurrentGeneral && !item.isCanceled"
                    (click)="removeItem(item.product.id, i)"
                  >
                    <a>
                      <mdb-icon
                        *ngIf="!item.isCanceled"
                        fas
                        icon="trash"
                        class="prefix c-text-second-custom"
                      >
                      </mdb-icon>
                      <mdb-icon
                        *ngIf="item.isCanceled"
                        fas
                        icon="undo"
                        class="prefix c-text-first-custom"
                      ></mdb-icon>
                    </a>
                  </td>
                  <td
                    *ngIf="selectedCartIsCurrentGeneral && item.isCanceled"
                    (click)="restoreItem(item.product.id, i)"
                  >
                    <a>
                      <mdb-icon
                        fas
                        icon="trash"
                        class="prefix c-text-second-custom"
                      ></mdb-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" class="text-right">
                    <strong> <span>Total</span>: </strong>
                  </td>
                  <td colspan="2" class="text-left">
                    <div *ngIf="isPersonal(); else withoutDiscount"><del>{{getTotal()| currency:'$' }}</del></div>
                    <ng-template #withoutDiscount>{{getTotal()| currency:'$' }}</ng-template>
                  </td>
                </tr>

                <tr *ngIf="isPersonal()">    
                  <td colspan="4" class="text-right">
                      <strong>
                          <span>Descuento por ser parte del equipo:</span>
                      </strong>
                  </td>
                  <td colspan="2" class="text-left">
                      {{ getPersonalDiscount() | currency:'$' }}
                  </td>
                </tr>
                <tr *ngIf="isPersonal()">    
                  <td colspan="4" class="text-right">
                      <strong>
                          <span>Total final:</span>
                      </strong>
                  </td>
                  <td colspan="2" class="text-left">
                      {{getTotalWithDiscount()| currency:'$' }}
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="row mx-0">
            <strong>
                {{ getNodeData(selectedCart.nodeDate.node) }}
            </strong>
            <span class="text-muted">
              ({{(selectedCart.nodeDate.day | date:'EEEE d \' de \'  MMMM \' del \' y') + ' de ' + selectedCart.nodeDate.dateTimeFrom  + 'hs a ' +  selectedCart.nodeDate.dateTimeTo + 'hs' }})
              <a>
                <mdb-icon
                  fas
                  icon="map-marker-alt mx-2 c-text-first-custom"
                  (click)="openLocationModal(selectedCart.nodeDate.node)"
                >
                </mdb-icon>
              </a>
            </span>
          </div>

          <div class="row mx-0 div-btn-change-address" *ngIf="selectedCartIsCurrentGeneral && !showAddress">
            <button
              mdbBtn
              class="bc-first-custom waves-light text-white btn-change-address"
              mdbWavesEffect
              *ngIf="selectedCartIsCurrentGeneral"
              (click)="showAddress = true"
            >
              Cambiar dirección
              <mdb-icon
                fas
                icon="map-marker-alt"
                class="ml-2"
                aria-hidden="true"
              ></mdb-icon>
            </button>
          </div>

          <div class="row mx-0 list-change-address" 
          *ngIf="selectedCartIsCurrentGeneral && showAddress">
          <div class="div-btn-close-change-address">
          <button
              mdbBtn
              mdbWavesEffect
              (click)="showAddress = false"
              class="btn-close-change-address"
            >
              <mdb-icon
                fas
                icon="angle-double-up"
                class="ml-2"
                aria-hidden="true"
              ></mdb-icon>
            </button>
          </div>
          <mat-radio-group
            [(ngModel)]="selectedCart.nodeDate.id"
          >
            <ng-container *ngFor="let nodeg of nodes">
              <span class="d-block">
                <mat-radio-button class="va-sub" [value]="nodeg.id">
                  <strong addressFull [address]="nodeg.node.address"  [aditional]="nodeg.node.name">
                  </strong>
                  <span class="text-muted">
                    ({{
                      (nodeg.day
                        | date: "EEEE d ' de '  MMMM ' del ' y") +
                        " de " +
                        nodeg.dateTimeFrom +
                        "hs a " +
                        nodeg.dateTimeTo +
                        "hs"
                    }})
                  </span>
                </mat-radio-button>
                <a>
                  <mdb-icon
                    fas
                    icon="map-marker-alt mx-2 c-text-first-custom"
                    (click)="openLocationModal(nodeg.node)"
                  >
                  </mdb-icon>
                </a>
              </span>
            </ng-container>
          </mat-radio-group>
          </div>
          <div class="row mx-0" *ngIf="selectedCartIsCurrentGeneral && showAddress">
            <button
              mdbBtn
              class="bc-second-custom waves-light text-white"
              mdbWavesEffect
              (click)="confirm()"
            >
              Confirmar
              <mdb-icon
                fas
                icon="check"
                class="ml-2"
                aria-hidden="true"
              ></mdb-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
        </div>

        <div class="row mx-0">
          <mat-table
          class="w-100"
            #outSort="matSort"
            [dataSource]="dataSource"
            multiTemplateDataRows
            matSort
          >
            <ng-container
              *ngFor="let item of getColumns(displayedColumns); let i = index"
              [matColumnDef]="item"
            >
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="px-2"
                [ngClass]="{ 'w-80 pl-3': item === 'id' }"
              >
                {{ textColumns[i] | uppercase }}
              </mat-header-cell>
              <mat-cell
                class="px-2"
                *matCellDef="let row"
                [ngClass]="{ 'w-80': item === 'id' }"
                (click)="changeSelected(row)"
              >
                {{ getValue(row, item) }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
              <mat-cell *matCellDef="let row" class="w-50">
                <button
                  mat-icon-button
                  color="warn"
                  *ngIf="!row.deletedAt && idGeneral === row.idGeneral"
                  class="mx-1"
                  (click)="deleteCart(row)"
                >
                  <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              class="cursor-pointer"
              [ngClass]="{ deleted: row.deletedAt }"
            >
            </mat-row>
          </mat-table>
          <mat-paginator
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            [length]="resultsLength"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          mdbBtn
          class="btn-outline-second-custom waves-light"
          mdbWavesEffect
          (click)="close()"
          data-dismiss="modal"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
