<mat-nav-list>
  <a mat-list-item class="text-uppercase c-text-first-custom" (click)="onSidenavClose()" [routerLink]="['/shop/home']"
    [routerLinkActive]="['active-menu']">
    <mdb-icon fas icon="home"></mdb-icon>
    <span class="nav-caption">Inicio </span>
  </a>
  <a mat-list-item [matMenuTriggerFor]="menuProductos" class="text-uppercase c-text-first-custom"
    [ngClass]="{ 'active-menu': childProductActive }">
    <mat-icon>redeem</mat-icon><span class="nav-caption">Productos</span>
    <span class="caret"></span>
  </a>
  <mat-menu #menuProductos="matMenu">
    <ng-container *ngFor="let category of categories">
      <button mat-menu-item *ngIf="!category.childList" class="c-text-first-custom"
      [routerLink]="[getRouterLink(category.id)]" [routerLinkActive]="['active-submenu']"
      [routerLinkActiveOptions]="{ exact: true }" (click)="onSidenavClose()">
      {{ category.name }}
    </button>
    <app-button-with-children *ngIf="category.childList" [menuCategory]="category" (onSelect)="onSidenavClose()">
    </app-button-with-children>
  </ng-container>
</mat-menu>
<a mat-list-item class="text-uppercase c-text-first-custom" (click)="onSidenavClose()" [routerLink]="['/shop/productores']"
  [routerLinkActive]="['active-menu']">
  <mdb-icon fas icon="store"></mdb-icon>
  <span class="nav-caption">Productores</span>
</a>
<a mat-list-item class="text-uppercase c-text-first-custom" (click)="onSidenavClose()" [routerLink]="['/shop/nosotros']"
  [routerLinkActive]="['active-menu']">
  <mdb-icon fas icon="hands-helping"></mdb-icon>
  <span class="nav-caption">Quiénes somos</span>
</a>

  <mat-divider></mat-divider>
  <a mat-list-item class="c-text-first-custom" (click)="openContactModal()">
    <mdb-icon fas icon="envelope"></mdb-icon><span class="nav-caption">Contacto</span>
  </a>

  <a mat-list-item class="c-text-first-custom" [routerLink]="['/config']" *ngIf="authService.isAdmin()"
    (click)="onSidenavClose()">
    <mdb-icon fas icon="cog"></mdb-icon><span class="nav-caption">Configuración</span>
  </a>
</mat-nav-list>
