@import '../../../../variables';

a{
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.nav-caption{
    display: inline-block;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
}

.active-menu{
    border-left: 0.7rem solid $secondColor !important;
    font-weight: bold;
  }
  .active-submenu{
    border-left: 0.5rem solid $secondColor !important;
    font-weight: bold;
    font-size: 1rem;
  }