<mat-form-field class="w-100">
  <mat-select (selectionChange)="selected()" multiple [placeholder]="placeholder" [(ngModel)]="elementsSelected">
    <mat-select-trigger>
      <mat-chip-list>
        <mat-chip *ngFor="let element of elementsSelected; index as i" color="primary" removable
          (removed)="remove(i)" selected>
          {{ element[field] }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-select-trigger>
    <mat-option *ngFor="let element of allElements" [value]="element">{{element[field]}}</mat-option>
  </mat-select>

</mat-form-field>
