@import '../../../../variables';

.logo {
  font-size: 1.75rem;
  white-space: nowrap;
  text-decoration: none;
  img{
    max-height: 6rem;
    margin-right: 0.5rem;
  }
}

  /*
  .dropdown-menu-right{
    right: 0;
    left: auto;
  }

.navbar .nav-item.avatar .dropdown-toggle img {
    height: 2rem;
}
*/
.active-menu{
  border-left: 0.7rem solid $secondColor !important;
  font-weight: bold;
  font-size: 1.3rem;
}
.active-submenu{
  border-left: 0.5rem solid $secondColor !important;
  font-weight: bold;
  font-size: 1rem;
}

.hw-30 {
  width: 2.8rem;
  height: 2.8rem;    
}
.mat-menu-item .mat-icon{
  font-size: 1.25rem;
}

.h-3rem {
  max-height: 3rem!important;
  min-height: 3rem!important;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button:focus{
  outline: none;
}

mat-toolbar{
  border-radius: 3px;
  font-size: 1rem;
  align-items: baseline;
}

.mt-05{
margin-top: 0.5rem;
}

@media (max-width: 900px) {
  .hide-900{
      display: none;
  }
}
@media (max-width: 750px) {
  .logo img{
      max-height: 5rem;
      margin-right: 0.5rem;
    }
}
@media (max-width: 450px) {
  mat-toolbar{
    padding: 0 .2rem;
    font-size: .8rem;
    align-items: baseline;
  }
  .logo img{
      max-height: 3rem;
      margin-right: 0.5rem;
    }
    .mt-05{
      margin-top: 0rem;
      }
}