<!--


        <span
          *ngFor="let item of items; let i = index"
          class="module-nav-link"
          (click)="click(i)"
          routerLink="{{ items[i].RouterLink }}"
          routerLinkActive="module-nav-link-active"
          >{{ item.Text }}
        </span>

             <div class="divider dropdown-divider"></div>
        color="bg-white c-text-first-custom"
-->

<!--Navbar-->

<mat-toolbar class="h-auto align-bottom z-depth-1 p-1">
  <div fxHide.gt-xs>
    <a mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </a>
  </div>
  <div>
    <a class="logo" [routerLink]="['/']"
      ><img src="/2099811859/284960122.PNG"
    /></a>
  </div>

  <div
    fxFlex
    fxLayout="row"
    fxLayoutAlign="space-around end"
    class="align-bottom"
  >
    <!--fxHide.lt-md-->
    <ul fxLayout fxLayoutGap="0.5rem" fxHide.xs class="navigation-items h-3rem">
      <li class="mt-05">
        <button
          mat-button
          matline
          class="text-uppercase c-text-first-custom px-2"
          [routerLink]="['/shop/home']"
          [routerLinkActive]="['active-menu', 'title_AS']"
        >
          Inicio
        </button>
      </li>
      <li class="mt-05">
        <mat-list-item [matMenuTriggerFor]="menuProductos">
          <button
            mat-button
            matline
            class="text-uppercase c-text-first-custom px-2"
            [ngClass]="{ 'active-menu title_AS': childProductActive }"
          >
            Productos <span class="caret"></span>
          </button>
        </mat-list-item>

        <mat-menu #menuProductos="matMenu">
          <ng-container *ngFor="let category of categories">
            <button
              mat-menu-item
              *ngIf="!category.childList"
              class="c-text-first-custom"
              [routerLink]="[getRouterLink(category.id)]"
              [routerLinkActive]="['active-submenu']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ category.name }}
            </button>
            <app-button-with-children
              *ngIf="category.childList"
              [menuCategory]="category"
            ></app-button-with-children>
          </ng-container>
        </mat-menu>
      </li>

      <li class="mt-05">
        <button
          mat-button
          matline
          class="text-uppercase c-text-first-custom px-2"
          [routerLink]="['/shop/productores']"
          [routerLinkActive]="['active-menu', 'title_AS']"
        >
          Productores
        </button>
      </li>

      <li class="mt-05">
        <button
          mat-button
          matline
          class="text-uppercase c-text-first-custom px-2"
          [routerLink]="['/shop/nosotros']"
          [routerLinkActive]="['active-menu', 'title_AS']"
        >
          Quiénes somos
        </button>
      </li>
      <!--

            <li class="nav-item">
              <a class="nav-link text-uppercase c-text-first-custom" href="/shop/home#about">¿Quiénes somos?</a>
            </li>

         <li class="nav-item">
           <a class="nav-link text-uppercase" href="/shop/home#how-buy">¿Cómo comprar?</a>
          </li>

          *ngIf="authService.isAdmin()"
        -->
    </ul>
    <ul fxLayout class="navigation-items ml-auto">
      <app-cart-status
        *ngIf="pageActive"
        (openCart)="openCartModal()"
      ></app-cart-status>
      <li class="mt-05 mx-2" fxHide.xs>
        <a class="c-text-first-custom" (click)="openContactModal()">
          <mdb-icon fas icon="envelope mr-1"></mdb-icon
          ><span class="hide-900">Contacto</span>
        </a>
      </li>
      <li class="mt-05 mr-2" *ngIf="authService.isAdmin()" fxHide.xs>
        <a class="c-text-first-custom" [routerLink]="['/config']">
          <mdb-icon fas icon="cog mr-1"></mdb-icon
          ><span class="hide-900">Configuración</span>
        </a>
      </li>

      <li class="mt-05" *ngIf="!authService.isLoggedIn()">
        <a type="button" class="c-text-first-custom" (click)="openLoginModal()">
          <mdb-icon fas icon="sign-in-alt mr-1"></mdb-icon><span>Ingresar</span>
        </a>
      </li>
      <li class="avatar" *ngIf="authService.isLoggedIn()">
        <mat-list-item [matMenuTriggerFor]="menuUser">
          <a matline type="button">
            <img
              *ngIf="user?.image"
              [src]="user?.image.value"
              [alt]="user?.firstName"
              class="img-fluid rounded-circle z-depth-0 hw-30"
            />
            <button mat-mini-fab class="bc-first-custom" *ngIf="!user?.image">
              <mat-icon>face</mat-icon>
            </button>
          </a>
        </mat-list-item>
        <mat-menu #menuUser="matMenu">
          <ng-container *ngFor="let submenu of userMenu">
            <a
              mat-menu-item
              class="c-text-first-custom"
              (click)="userAction(submenu.action)"
              >
              <i class="c-text-first-custom mr-1 fas" [ngClass]="submenu.icon">
              </i>{{ submenu.title }}
            </a>
          </ng-container>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>

<!--/.Navbar-->
