@import '../../../../variables';

::ng-deep .carousel-multi-item {
  margin-bottom: 4rem;
  .controls-top {
      margin-bottom: 1.88rem;
      text-align: center;
      .btn-floating {
          background: $firstColor;
          position: relative;
          z-index: 1;
          display: inline-block;
          padding: 0;
          margin: 10px;
          overflow: hidden;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 50%;
          -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
          box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          width: 47px;
          height: 47px;
          i {
              display: inline-block;
              width: inherit;
              color: #fff;
              text-align: center;
              font-size: 1.25rem;
              line-height: 47px;
          }
      }
  }
  .carousel-indicators {
      margin-bottom: 0rem;
      li { 
          width: 1.25rem;
          max-width: 1.25rem;
          height: 1.25rem;
          margin-bottom: -3.75rem;
          background-color:  lighten($firstColor, 10%);
      }
      .active {
          width: 1.56rem;
          max-width: 1.56rem;
          height: 1.56rem;
          border-radius: 50%;
          background-color: lighten($firstColor, 10%);
      }
  }
}


