<section class="section pb-3">

  <div class="row  mx-3">
    <div class="col-md-6">
      <blockquote class="blockquote float-left bl-title-first-custom">
        <h3 class="c-text-first-custom mb-0 title_AS">Destacados de la semana!</h3>
      </blockquote>
    </div>
    <div class="col-md-6">
      <a class="btn btn-outline-second-custom float-right" [routerLink]="['/shop/productos']" >Ver Mas ...</a>
    </div>
  </div>
  <mdb-carousel [animation]="'slide'" [isControls]="true" class="carousel-multi-item multi-animation"
    [type]="'carousel-multi-item'">
    <ng-container>
      <mdb-carousel-item class="py-2" *ngFor="let cards of slides; let i = index">
        <div [ngClass]="'col-md-'+gridCards" *ngFor="let card of cards; let cardIndex = index">
          <ng-container *ngTemplateOutlet="elementTmpl, context: { $implicit: card }"></ng-container>
        </div>
      </mdb-carousel-item>
    </ng-container>
  </mdb-carousel>
</section>
