<!-- 

    <div class="row" *ngIf="authService.isAdmin()">
      <div class="col-sm">
        <div class="float-right">
          <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#exampleModalLong">
            Agregar Producto
          </button>
        </div>
      </div>
    </div>
  -->

<!-- 

          <app-card-loader [loop]="3" [height]="800" *ngIf="loading"></app-card-loader>
        -->
<div class="row mx-3">
  <div class="col">
    <app-breadcrumb [breads]="breads"></app-breadcrumb>
  </div>

</div>

<div class="row mx-0" *ngIf="!loading">
  <div class="col-md-4 col-lg-3">
    <app-list-category *ngIf="categories" [categories]="categories">  
    </app-list-category>
  </div>
  <!-- List of Products -->

  <div class="col-md-8 col-lg-9">

    <div class="control-group clearfix mt-2">
      
      <div class="float-left">
        <app-search (search)="search($event)"></app-search>
      </div>
      <div class="float-right">
        <div class="btn-group mr-3 mt-2 float-right" mdbDropdown>

          <button mdbDropdownToggle type="button" mdbBtn mdbWavesEffect
            class="btn btn-outline-first-custom btn-small dropdown-toggle waves-light">
            <i class="mr-1" [ngClass]="selectedOrder?.cssIcon"></i>
            <span>{{selectedOrder?.name}}</span>
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-primary">
            <li class="dropdown-item waves-light" mdbWavesEffect *ngFor="let order of orders"
              [ngClass]="{'active': order.id === selectedOrder?.id}"><a (click)="onChangeOrder(order)"><i class="mr-1"
                  [ngClass]="order.cssIcon"></i>{{order.name}}</a></li>
          </div>
        </div>

        <!-- 
  
    <div class="btn-group mt-1">
      <a class="btn c-text-first-custom btn-small" *ngFor="let view of views" [title]="view.title"
      [ngClass]="{'btn-outline-first-custom': view.title === selectedView?.title }" (click)="selectedView = view"><i
      [ngClass]="view.cssIcon"></i></a>
    </div>
  -->
      </div>
    </div>
   
    
    <div class="row mt-0">
      <ng-container *ngFor="let product of productList">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mt-1">
          <!--  | filterByBrand: selectedBrand  | paginate: { itemsPerPage: 6, currentPage: page }-->
          <app-card-product [product]="product"  [isActivePage]="pageActive" (openProductDetail)="openProduct(product.id)"></app-card-product>
        </div>
      </ng-container>
  

  </div>
  <mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="resultsLength"
  showFirstLastButtons class="mb-2"
  (page)="OnPageChange($event)">
  </mat-paginator>
</div>
<!-- Pagination -->

<!-- 

  <app-add-product></app-add-product>
-->