<div mdbModal #profileModal="mdbModal" class="modal fade" tabindex="0" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg" role="document" *ngIf="available">
    <div class="modal-content transparent no-border" *ngIf="user">
      <div class="modal-body">
        <div class="row mx-0">
          <div class="container-fluid mt-3 mb-5">
            <!-- Section: Block Content -->
            <section class="mb-4">
              <div class="card">
                <div class="row">
                  <div class="col-lg-6 map-column px-0">
                    <app-loading *ngIf="loading" (fullScreen)="true" (message)="'Cargando Imagen...'" ></app-loading>
                    <img *ngIf="updatedUserModel.image"  [src]="getSrcImage()" class="float-top-left" />
                    <div class=" md-form mt-4 px-4" *ngIf="editPage">
                      <mdb-icon fas icon="camera" class="prefix"></mdb-icon>
                      <input mdbInput type="file" class="form-control border-none" (change)="readURL($event)"
                        accept=".jpg,.jpeg,.png,.bmp,.gif" />
                    </div>
                  </div>

                  <div class="col-12 col-lg-6 mx-0 px-4 align-self-center py-4">
                    <div class="row m-0 px-1">
                      <h1 class="c-text-first-custom float-left">
                        Mi Perfil<span>{{
                          editPage ? " (Editando)" : ""
                        }}</span>
                      </h1>
                    </div>
                    <div class="md-form form-sm">
                      <mdb-icon fas icon="user" class="prefix" [ngClass]="{
                          'fas error-message': !updatedUserModel.firstName
                        }">
                      </mdb-icon>
                      <input mdbInput type="text" id="firstNameProfile" class="form-control"  maxlength="50"
                        [ngClass]="{ invalid: !updatedUserModel.firstName }" name="firstNameProfile"
                        [(ngModel)]="updatedUserModel.firstName" [readonly]="!editPage" />
                      <label for="firstNameProfile">Nombre *</label>
                      <mat-error *ngIf="!updatedUserModel.firstName">
                        El nombre es <strong>requerido</strong>.
                      </mat-error>
                    </div>
                    <div class="md-form form-sm">
                      <mdb-icon fas icon="user" class="prefix" [ngClass]="{
                          'fas error-message': !updatedUserModel.lastName
                        }">
                      </mdb-icon>
                      <input mdbInput type="text" id="lastNameProfile" class="form-control" name="lastNameProfile"
                        [ngClass]="{ invalid: !updatedUserModel.lastName }" [(ngModel)]="updatedUserModel.lastName"
                        [readonly]="!editPage"  maxlength="50" />
                      <label for="lastNameProfile">Apellido *</label>
                      <mat-error *ngIf="!updatedUserModel.lastName">
                        El apellido es <strong>requerido</strong>.
                      </mat-error>
                    </div>
                    <div class="md-form form-sm mb-4">
                      <mdb-icon fas icon="envelope" class="prefix" [ngClass]="{
                          'fas error-message': !updatedUserModel.email
                        }">
                      </mdb-icon>
                      <input mdbInput type="email" id="emailProfile" class="form-control" name="emailProfile"
                        [ngClass]="{ invalid: !updatedUserModel.email }" [(ngModel)]="updatedUserModel.email"
                        [readonly]="!editPage" [email]="true" autocomplete="email"  maxlength="200" />
                      <label for="emailProfile">Correo *</label>
                      <mat-error *ngIf="!isValidEmail()">
                        Por favor, ingrese un correo valido.
                      </mat-error>
                      <mat-error *ngIf="!updatedUserModel.email">
                        El correo es <strong>requerido</strong>.
                      </mat-error>
                    </div>
                    <div class="md-form form-sm mb-4">
                      <mdb-icon fas icon="phone" class="prefix" [ngClass]="{
                          'fas error-message': !updatedUserModel.phone
                        }">
                      </mdb-icon>
                      <input mdbInput type="text" id="phoneProfile" class="form-control" name="phoneProfile"
                        [(ngModel)]="updatedUserModel.phone" [readonly]="!editPage"
                        [ngClass]="{ invalid: !updatedUserModel.phone }"  maxlength="20" />
                      <label for="phoneProfile">Teléfono *</label>
                      <mat-error *ngIf="!updatedUserModel.phone">
                        El teléfono es <strong>requerido</strong>.
                      </mat-error>
                    </div>
                    <div class="row mx-0 mb-4">
                      <div class="md-form col-7 form-sm m-0 px-0">
                        <input mdbInput type="text" id="addressStreetProfile" class="form-control"  maxlength="200"
                          name="addressStreetProfile" [ngClass]="{'invalid': !updatedUserModel.address.street}"
                          [(ngModel)]="updatedUserModel.address.street">
                        <label for="addressStreetProfile">Calle *</label>
                        <mat-error *ngIf="!updatedUserModel.address.street">
                          La calle es <strong>requerida</strong>.
                        </mat-error>
                      </div>
                      <div class="md-form col-5 form-sm m-0 pr-0 pl-3">
                        <input mdbInput type="text" id="addressNumberProfile" class="form-control"  maxlength="10"
                          name="addressNumberProfile" [ngClass]="{'invalid': !updatedUserModel.address.number}"
                          [(ngModel)]="updatedUserModel.address.number">
                        <label for="addressNumberProfile" class="pl-3">Número *</label>
                        <mat-error *ngIf="!updatedUserModel.address.number">
                          El numero es <strong>requerido</strong>.
                        </mat-error>
                      </div>
                    </div>
                    <div class="row mx-0 mb-4">
                      <div class="md-form col-6 form-sm m-0 px-0">
                        <input mdbInput type="text" id="addressApartmentProfile" class="form-control"  maxlength="3"
                          name="addressApartmentProfile" [(ngModel)]="updatedUserModel.address.apartment">
                        <label for="addressApartmentProfile">Depto.</label>
                      </div>
                      <div class="md-form col-6 form-sm m-0 pr-0 pl-3">
                        <input mdbInput type="text" id="addressFloorProfile" class="form-control"  maxlength="3"
                          name="addressFloorProfile" [(ngModel)]="updatedUserModel.address.floor">
                        <label for="addressFloorProfile" class="pl-3">Piso</label>
                      </div>
                    </div>
                    <div class="row mx-0 mb-4">
                      <div class="md-form col-6 form-sm m-0 px-0">
                        <input mdbInput type="text" id="addressLatitudeProfile" class="form-control"  maxlength="20"
                          name="addressLatitudeProfile" [(ngModel)]="updatedUserModel.address.latitude">
                        <label for="addressLatitudeProfile">Latitud</label>
                      </div>
                      <div class="md-form col-6 form-sm m-0 pr-0 pl-3">
                        <input mdbInput type="text" id="addressLongitudeProfile" class="form-control"  maxlength="20"
                          name="addressLongitudeProfile" [(ngModel)]="updatedUserModel.address.longitude">
                        <label for="addressLongitudeProfile" class="pl-3">Longitud</label>
                      </div>
                    </div>
                    <div class="md-form form-sm mb-4">
                      <textarea mdbInput type="text" id="addressDescriptionProfile"  maxlength="350"
                        class="md-textarea form-control py-2" name="addressDescriptionProfile" rows="2"
                        [(ngModel)]="updatedUserModel.address.description"></textarea>
                      <label for="addressDescriptionProfile">Información Adicional Domicilio</label>
                    </div>
                    <button type="button" mdbBtn class="btn-outline-second-custom waves-light" mdbWavesEffect
                      (click)="close()" data-dismiss="modal">
                      {{ !editPage ? 'Cerrar' : 'Cancelar'}}
                    </button>
                    <button mdbBtn class="bc-second-custom waves-light text-white" mdbWavesEffect *ngIf="!editPage"
                      (click)="openEdit()">
                      Editar
                    </button>
                    <button mdbBtn class="bc-second-custom waves-light text-white" mdbWavesEffect *ngIf="editPage"
                      (click)="updateProfile()">
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </section>
            <!-- Section: Block Content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
