.float-top-left{
  margin-top: -3.2rem;
  margin-left: -3.2rem;
  border-radius: 50%;
  width: 25rem;
  height: 25rem;

  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@media (max-width: 991px) {
  .float-top-left{
    height: 15rem;
    width: 15rem;
    margin-top: -3.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-dialog .modal-content {
  box-shadow: none;
  border-radius: none;
  border: 0;
}

.transparent {
  background: transparent;
}

.picture {
  background-position: center;
  background-size: cover;
  position: relative;
  flex: 1;
}

.details {
  padding: 1.25rem 1.25rem 0;

  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .description {
    text-align: justify;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}

