<div class="m-3">
  <blockquote class="blockquote bl-title-first-custom">
    <h3 class="c-text-first-custom mb-0">Ronda</h3>
  </blockquote>
  <button mdbBtn class="bc-second-custom waves-light text-white" mdbWavesEffect (click)="downloadBalaces()">
                      Todos los balances
                    </button>
  <div class="control-section">

    <app-table [displayedColumns]="['id', 'user.name', 'dateActivePage:date', 'dateDownPage:date', 'close', 'copy', 'view', 'edit', 'delete', 'download1', 'download2']"
        [textColumns]="['id', 'Usuario', 'Fecha Activación', 'Fecha Baja']" [type]="'GENERAL'"
        [childrens]="'activeNodes'" [innerDisplayedColumns]="['id', 'node.name', 'dateTimeFrom', 'dateTimeTo']"
        [textInnerDisplayedColumns]="['id', 'Nodo', 'Desde', 'Hasta']" [closeTooltip]="'Cerrar Balance'" [download1Tooltip]="'Descargar Ventas'" [download2Tooltip]="'Descargar Balance Ronda'"  (detail)="onDetail($event)"
        (new)="onNew()" (edit)="onEdit($event)" (delete)="onDelete($event)" (copy)="onCopy($event)" (restore)="onRestore($event)" (download1)="onDownload1($event)" (download2)="onDownload2($event)" (close)="closeBalance($event)" ></app-table>
</div>
</div>
<!--  (detailChild)="onDetailChild($event)"
        (editChild)="onEditChild($event)" (deleteChild)="onDeleteChild($event)" (restoreChild)="onRestoreChild($event)" ,  columns 'viewc', 'editc', 'deletec'  -->
