<div mdbModal #configNewsModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document" *ngIf="available">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="c-text-first-custom">Prensa
                    <span>{{action == 'new' ? ' Nuevo' : ' (Modo ' + (action == 'detail' && !actionEdit? 'Consulta)' : 'Edición)')}}</span>
                </h1>
                <button mat-icon-button class="close-button" (click)="close()">
                    <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="newsTitle" class="form-control" maxlength="50"
                            [readonly]="action == 'detail' && !actionEdit" name="newsTitle" formControlName="title">
                        <label for="newsTitle">Titulo</label>
                    </div>
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="newsSubtitle" class="form-control"  maxlength="50"
                            [readonly]="action == 'detail' && !actionEdit" name="newsSubtitle"
                            formControlName="subtitle">
                        <label for="newsSubtitle">Subtitulo</label>
                    </div>
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="newsText" class="form-control"  maxlength="500"
                            [readonly]="action == 'detail' && !actionEdit" name="newsText" formControlName="text">
                        <label for="newsText">Descripción</label>
                    </div>
                    <div class="md-form form-sm mb-4" *ngIf="action != 'detail' || actionEdit">
                        <mdb-icon fas icon="camera" class="prefix"  [ngClass]="{'fas error-message': submitted && !currentImage  }">
                        </mdb-icon>
                        <input mdbInput type="file" class="form-control border-none" id="newsImage" name="newsImage"
                            (change)="readURL($event)" accept=".jpg,.jpeg,.png,.bmp,.gif" />
                            <mat-error *ngIf="submitted && !currentImage">
                              La imagen es <strong>requerida</strong>.
                            </mat-error>
                    </div>
                    <app-loading *ngIf="loading" (fullScreen)="true" (message)="'Cargando Imagen...'" ></app-loading>
                    <img *ngIf="currentImage?.value" [src]="getSrcImage()" width="100%" class="center" />
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="newsURL" class="form-control"  maxlength="200"
                            [readonly]="action == 'detail' && !actionEdit" name="newsURL" formControlName="url">
                        <label for="newsURL">URL</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbWavesEffect (click)="close()"
                    class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
                <button type="button" *ngIf="action == 'detail' && !actionEdit" (click)="edit()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>editar</button>
                <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="save()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>guardar</button>
            </div>
        </div>
    </div>
</div>
