<div mdbModal #configNodeModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true"
>
  <div class="modal-dialog modal-lg " role="document" *ngIf="available">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="c-text-first-custom">Nodo
          <span>{{action == 'new' ? ' Nuevo' : ' (Modo ' + (action == 'detail' && !actionEdit? 'Consulta)' : 'Edición)')}}</span>
        </h1>
        <button mat-icon-button class="close-button" (click)="close()">
          <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="md-form form-sm mb-4">
            <input mdbInput type="text" id="nodeName" class="form-control" [ngClass]="{'invalid': hasError('name') }"
              [readonly]="action == 'detail' && !actionEdit" name="nodeName" formControlName="name"  maxlength="50">
            <label for="nodeName">Nombre *</label>
            <mat-error *ngIf="hasError('name')">
              El nombre es <strong>requerido</strong>.
            </mat-error>
          </div>
          <div formGroupName="address">
            <div class="row mx-0 mb-4">
              <div class="md-form col-7 form-sm m-0 px-0">
                <input mdbInput type="text" id="nodeAddressStreet" class="form-control" name="nodeAddressStreet"
                  [ngClass]="{'invalid': hasError('address.street')}" formControlName="street"  maxlength="200">
                <label for="nodeAddressStreet">Calle *</label>
                <mat-error *ngIf="hasError('address.street')">
                  La calle es <strong>requerida</strong>.
                </mat-error>
              </div>
              <div class="md-form col-5 form-sm m-0 pr-0 pl-3">
                <input mdbInput type="text" id="nodeAddressNumber" class="form-control" name="nodeAddressNumber"
                  formControlName="number"  maxlength="10">
                <label for="nodeAddressNumber" class="pl-3">Número</label>
              </div>
            </div>
            <div class="row mx-0 mb-4">
              <div class="md-form col-6 form-sm m-0 px-0">
                <input mdbInput type="text" id="nodeAddressApartment" class="form-control" name="nodeAddressApartment"
                  formControlName="apartment"  maxlength="3">
                <label for="nodeAddressApartment">Depto.</label>
              </div>
              <div class="md-form col-6 form-sm m-0 pr-0 pl-3">
                <input mdbInput type="text" id="nodeAddressFloor" class="form-control" name="nodeAddressFloor"
                  formControlName="floor"  maxlength="3">
                <label for="nodeAddressFloor" class="pl-3">Piso</label>
              </div>
            </div>
            <div class="md-form mx-0 mb-4 form-sm m-0 pr-0">
                <input mdbInput type="text" id="nodeAddressBetweenStreets" class="form-control" name="nodeAddressBetweenStreets"
                  formControlName="betweenStreets"  maxlength="350">
                <label for="nodeAddressBetweenStreets">Entre calles</label>
            </div>
            <div class="row mx-0 mb-4">
              <div class="md-form col-sm-6 form-sm m-0 px-0">
                <input mdbInput type="text" id="nodeAddressLongitude" class="form-control" name="nodeAddressLongitude"
                  [ngClass]="{'invalid': hasError('address.longitude')}" [readonly]="action == 'detail' && !actionEdit"
                  formControlName="longitude"  maxlength="20">
                <label for="nodeAddressLongitude">Longitud *</label>
                <mat-error *ngIf="hasError('address.longitude')">
                  La longitud es <strong>requerida</strong>.
                </mat-error>
              </div>
              <div class="md-form col-sm-6 form-sm m-0 pr-0 pl-3">
                <input mdbInput type="text" id="nodeAddressLatitude" class="form-control" name="nodeAddressLatitude"
                  [ngClass]="{'invalid': hasError('address.latitude') }" [readonly]="action == 'detail' && !actionEdit"
                  formControlName="latitude"  maxlength="20">
                <label for="nodeAddressLatitude">Latitud *</label>
                <mat-error *ngIf=" hasError('address.latitude') ">
                  La latitud es <strong>requerida</strong>.
                </mat-error>
              </div>
            </div>
            <div class="md-form form-sm mb-4">
              <textarea mdbInput type="text" id="nodeAddressDescription" class="md-textarea form-control py-2"
                name="nodeAddressDescription" rows="2" formControlName="description"  maxlength="350"></textarea>
              <label for="nodeAddressDescription">Información Adicional Domicilio</label>
            </div>
          </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput type="text" id="nodePhone" class="form-control" name="nodePhone"  maxlength="20"
              [readonly]="action == 'detail' && !actionEdit" formControlName="phone">
            <label for="nodePhone">Teléfono</label>
          </div>
          <div class="md-form form-sm mb-4" *ngIf="action != 'detail' || actionEdit">
            <mdb-icon fas icon="camera" class="prefix">
            </mdb-icon>
            <input mdbInput type="file" class="form-control border-none" id="nodeImage" name="nodeImage"
              (change)="readURL($event)" accept=".jpg,.jpeg,.png,.bmp,.gif" />
          </div>
          <app-loading *ngIf="loading" (fullScreen)="true" (message)="'Cargando Imagen...'" ></app-loading>
          <img *ngIf="currentImage" [src]="currentImage.value" width="100%" class="center" />
          <div class="md-form form-sm mb-4">
            <mat-slide-toggle id="nodeFridge" name="nodeFridge" [disabled]="action == 'detail' && !actionEdit"
              formControlName="hasFridge">Tiene Heladera
            </mat-slide-toggle>
          </div>
          <div class="md-form form-sm mb-4">
            <textarea mdbInput type="text" id="nodeDescription" class="md-textarea form-control py-2"
              [readonly]="action == 'detail' && !actionEdit" name="nodeDescription" rows="2"  maxlength="500"
              formControlName="description"></textarea>
            <label for="description">Descripción</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbWavesEffect (click)="close()"
          class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
        <button type="button" *ngIf="action == 'detail' && !actionEdit" (click)="edit()" mdbWavesEffect
          class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>editar</button>
        <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="save()" mdbWavesEffect
          class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>guardar</button>
      </div>
    </div>
  </div>
</div>
