@import "../../../../variables";

.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.modal-dialog {
  z-index: 1100 !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color: transparentize($firstColor, 0.6);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: transparentize($firstColor, 0.2);
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: transparentize($firstColor, 0.4);
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $firstColor;
}