<!-- Section -->
<section class="bg-section">
    <div class="mask bc-first-custom-opacity-60 py-5">

        <div class="container text-center my-2">

            <h3 class="font-weight-bold text-center white-text pb-2 title_AS">Newsletter</h3>
            <p class="lead text-center white-text pt-2 mb-4">Suscribite a nuestor newsletters y recibe todas las
                novedades.</p>

            <form class="input-grey mb-5" action="" method="post" target="_blank">
                <div class="form-row">
                    <div class="col-md-4 ml-auto">
                        <div class="input-group input-group-lg z-depth-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text rgba-white-light border-0"><i
                                        class="fa fa-envelope white-text"></i></span>
                            </div>
                            <input type="email" name="EMAIL"
                                class="form-control form-control-lg rgba-white-light white-text border-0 z-depth-0"
                                placeholder="Email Address">
                        </div>
                    </div>

                    <div class="col-md-3 mr-auto">
                        <button class="btn btn-block bc-second-custom">Suscribete</button>
                    </div>
                </div>
            </form>

            <div class="social text-center">
                <a class="mx-1" href="#"><i class="fab fa-facebook-f p-2 rounded rgba-white-light white-text"></i></a>
                <a class="mx-1" href="#"><i class="fab fa-twitter p-2 rounded rgba-white-light white-text"></i></a>
                <a class="mx-1" href="#"><i class="fab fa-instagram p-2 rounded rgba-white-light white-text"></i></a>
            </div>

        </div>

    </div>

</section>
<!-- Section -->
