.input-grey .input-group-lg>.input-group-prepend>.input-group-text {
  border-radius: .125rem;
}

.input-grey .form-control {
  border-radius: .125rem;
}

.input-grey .form-control.form-control-lg {
  font-size: 1rem;
}

.form-control:focus {
  background-color: rgba(255,255,255,.3);
}

.input-grey input::placeholder {
  color: #fff;
}

.input-grey .input-group-lg>.form-control:not(textarea) {
  height: calc(1.5em + 1rem + 6px);
}

.social .fab {
  width: 30px;
  height: 30px;
}

.bg-section {
  background: url('../../../../assets/newsletter.jpg') no-repeat center 110% fixed;
  background-size: 100% 60%;
}
