<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Oops!</h1>
      <h2>
        {{title}}</h2>
      <div class="error-details">
        {{description}}
      </div>
      <div class="error-actions">
        <a [routerLink]="[ '/' ]" class="btn bc-first-custom btn-lg  white-text">
          <span class="glyphicon glyphicon-home"></span>
          Inicio </a>
        <a [routerLink]="[ '/products/all-products' ]" class="btn bc-second-custom btn-lg  white-text">
          <span class="glyphicon glyphicon-envelope"></span>Nuestros Productos </a>
      </div>
    </div>
  </div>
</div>
