<nav aria-label="breadcrumb" *ngIf="breads">
  <ol class="breadcrumb mb-0 mt-4">
    <li class="breadcrumb-item c-text-first-custom" *ngFor="let bread of breads" [routerLink]="[bread.route]"
    [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" ><a>{{bread.name}}</a></li>
  </ol>
</nav>
<!-- 

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
-->