@import '../../../../variables';
 .breadcrumb{
  margin-top: 1.5rem;
  background-color: transparent;
  .breadcrumb-item{
    &:focus {
      outline: none;
    }
  }
}
.active{
  color: $secondColor  !important;
}