<button mat-icon-button class="close-button" [mat-dialog-close]="false" >
  <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
</button>

<h1 mat-dialog-title class="c-text-first-custom" >{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.description}}</p>
</div>
<div mat-dialog-actions>
  <button  type="button" mdbWavesEffect [mat-dialog-close]="false" class="btn btn-outline-first-custom waves-effect">No</button>
  <button  type="button" mdbWavesEffect [mat-dialog-close]="true" class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>Si</button>
</div>


<!--  [mat-dialog-close]="data.animal" (click)="onYesClick($event)"   mat-dialog-close-->