<div class="m-3">
  <blockquote class="blockquote bl-title-first-custom">
    <h3 class="c-text-first-custom mb-0">Productores</h3>
  </blockquote>
  <div class="control-section">
    <app-table [displayedColumns]="['id', 'name', 'phone', 'isCompany', 'view', 'edit', 'delete']"
        [textColumns]="['id', 'Nombre', 'Teléfono', 'Empresa']" [type]="'PRODUCER'" (detail)="onDetail($event)"
        (new)="onNew()" (edit)="onEdit($event)" (delete)="onDelete($event)" (restore)="onRestore($event)"></app-table>
</div>
</div>
