<div #alertBuy class="alert alert-success alert-dismissible fade" [ngClass]="{'show': recentBuy, 'display-none': !recentBuy}"  role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlertBuy()">
    <span aria-hidden="true">&times;</span>
  </button>
    <div *ngIf="recentBuy"><i class="fas fa-check"></i>
      Tu compra fue confirmada! Te enviamos un resumen al mail que registraste. ¡Te esperamos en el Nodo! Gracias por apoyar la Economía popular, social y solidaria.
      Recuerde que el pago es solo efectivo contraentrega, y que retiras en el nodo:
      <span *ngIf="recentBuy" addressFull [address]="recentBuy.node.address"  [aditional]="recentBuy.node.name">
      </span> el {{(recentBuy.day | date:'EEEE d \' de \'  MMMM \' del \' y') + ' de ' + recentBuy.dateTimeFrom  + 'hs a ' +  recentBuy.dateTimeTo + 'hs' }}, seguinos por nuestras redes sociales!
    </div>
</div>
<div #alert class="alert alert-info alert-dismissible fade" [ngClass]="{'show': general, 'display-none': !general}"  role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button><i class="fas fa-info-circle"></i>
    <span *ngIf="general && pageActive">
      Ya podes realizar tu pedido, tenes tiempo hasta el {{general.dateDownPage | date:'EEEE d \' de \'  MMMM'}} y la entrega comienza el {{minDateNode | date:'EEEE d \' de \'  MMMM'}}
    </span>
    <span *ngIf="general && !pageActive">
      La tienda abrira el {{general.dateActivePage | date:'EEEE d \' de \'  MMMM'}}
    </span>
</div>
<div class="px-0 z-depth-1 ">
  <app-carousel class="col-xs-1 w-100 h-100 text-center" [banners]="banners"></app-carousel>
</div>

<div id="how-buy">
  <app-how-buy></app-how-buy>
</div>

<div class="my-5" *ngIf="products.length>0">
  <app-card-carousel [cards]="products">
    <ng-template #elementContent let-product>
      <app-card-product [product]="product" [isActivePage]="pageActive" (openProductDetail)="openProduct(product.id)">
      </app-card-product>
    </ng-template>
  </app-card-carousel>
</div>
<!-- Streak Section -->
<div class="streak streak-photo">
  <!--app-newsletter></app-newsletter-->
</div>
<!-- /.Streak Section -->
