@import '../../../../variables';

.line{
  display: flex;
  margin-right: auto;
  border-bottom-right-radius: .2rem;
  border-top-right-radius: .2rem;
  width: 100%;
  max-width: 8.5rem;
  min-width: 0;
  overflow: visible;
  z-index: 0;
  position: relative;
  transform: rotate(0deg);
  margin: 0.1rem 0;
  box-sizing: border-box;
  padding-top: .4rem;
    }
