<div  fxFlex fxLayout="row" class="w-100 m-3">

  <mdb-card *ngIf="news" class="w-100">

    <div class="line bc-second-custom"></div>

  <mdb-card-body>
    <div class="p-2" fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="center">
      <div fxFlex.gt-xs="20" fxFlex.lt-sm="100">
        <img
        *ngIf="!news.image"
        class="w-100 mh400"
        src="../../../../assets/no_image.jpg"
        />
        <img
        *ngIf="news.image" [src]="news.image.value" class="w-100 mh400" alt="news.title" />

      </div>
      <span fxFlex.gt-xs="5" ></span>
      <div fxFlex.gt-xs="75" fxFlex.lt-sm="100">
        <div class="c-text-first-custom py-2">
          <h3 class="mb-0">{{ news.title }}</h3>
          <h4 class="mb-0">{{ news.subtitle }}</h4>
        </div>
        <p>
          {{ news.text }}
        </p>
        <a *ngIf="news.url" class="c-text-second-custom" (click)="goToLink(news.url)">
          {{ news.url }}
        </a>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>

</div>
