<mdb-card cascade="true" *ngIf="product" narrower="true">
  <!--Card image-->

  <a (click)="openProductDetailModal()" >
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img [src]="getSrcImage()" class="align-middle">

      </mdb-card-img>
      <!--product.images.find(image => image.isMain).route-->

      <a>
        <div class="mask rgba-white-slight" mdbRippleRadius></div> <!-- mdbRippleRadius lo agregue a la tarjeta-->
      </a>
    </div>
    <div class="ribbon ribbon-top-left" *ngIf="product.percent"><span>{{product.percent}}% Menos</span></div>
    <div class="ribbon ribbon-top-right" *ngIf="product.stock <= 0"><span>Sin stock</span></div>

  </a>
  <!--/Card image-->
  <mdb-card-body cascade="true" class="text-center pb-0 px-0">
    <!--Card content-->
    <h5 class="c-text-second-custom mb-2">
      <span *ngFor="let category of getCategories()">
        <img *ngIf="category.image" [src]="category.image.value" [matTooltip]="category.name" [matTooltipPosition]="'above'" [alt]="category.name" class="img-fluid z-depth-0 mr-2 hw-30">
        <span *ngIf="!category.image" class="mr-2"> {{category.name}} </span>
      </span>

      <!-- {{product.categories.find(category => !category.parent.id).name}}   -->
    </h5>
    <!--Title-->
    <h4 class="card-title c-text-first-custom title_AS bold">{{product.title | uppercase}}</h4>
    <!--Text-->
    <!--Marca-->
    <div class="card-brand c-text-second-custom">{{product.brand | uppercase}}</div>
    <!--Marca-->

    <mdb-card-text class="description c-text-seventh-custom px-1">
      <div class="m-2 text">
        <div class="bold">
          {{product.unitDescription | uppercase}}
        </div>
        <div *ngIf="product.description" [matTooltip]="product.description" [matTooltipPosition]="'above'" >
          {{product.description | ellipsis: 95}}
        </div>
      </div>
      <div class="m-2">
        <h5 class="float-left font-weight-bold unit"> {{ (product.unitQuantity ? product.unitQuantity : '') + ' ' + product.unit.code }}</h5>
        <h5 class="float-right font-weight-bold price"> {{ product.price | currency:'$' }}</h5>
      </div>
    </mdb-card-text>


    <!--  <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>-->

    <!-- Card footer -->
    <div class="card-footer text-muted" *ngIf="isActivePage">
      <p class="float-left font-weight-bold">  Stock: <span class="c-text-second-custom stock">{{product.stock}}</span> </p>
      <span class="float-right spinner-remove" *ngIf="product.stock > 0">
        <ngx-number-spinner class="spinner-quantity" *ngIf="inTheCart(product.id)" 
            [value]="quantityInTheCart(product.id)"
            (change)="changeToCart($event,product.id)"
            [min]="1"
            [max]="product.stock">
        </ngx-number-spinner>
        <a  *ngIf="inTheCart(product.id)" placement="top" mdbTooltip="Quitar del carrito" container="body" (click)="removeToCart(product.id)">
          <i class="fas fa-trash-alt c-text-second-custom" ></i>
        </a>
        <a *ngIf="!inTheCart(product.id)" placement="top" mdbTooltip="Agregar a la compra" container="body" (click)="addToCart(product)">
          <i class="fas fa-shopping-basket" ></i>
        </a>
      </span>
    </div>
  </mdb-card-body>
  <!--/.Card content-->
</mdb-card>
