@import '../../../../variables';

.view.view-cascade{
  height: 18rem;
  max-height: 18rem;
  min-height: 18rem;
}

::ng-deep mdb-card-img img.img-fluid{
 height: 100%;
 object-fit: cover;
}


.hw-30 {
  width: 1.4rem;
  height: 1.4rem;
  max-height: 1.4rem;
  min-height: 1.4rem;
}

.card .card-body{
  height: 17rem;
}

.card .card-title{
  min-height: 3rem;
  max-height: 3rem;
    margin-bottom: 0;
    font-size: 17px !important;
    overflow: auto;
    word-wrap: break-word;
}


.card .card-brand{
  min-height: 1rem;
  max-height: 1rem;
}


.card .card-footer{
    height: 2.6rem;
    padding: 0.7rem .5rem 0.5rem;
    span{
      padding-top: 0.1rem;
    }

    .spinner-remove {
      display: flex;
    }

    .spinner-quantity{
      margin-top: -13px;
      width: 120px;
    }
}

::ng-deep .wrapper.horizontal-wrapper{
  background-color: #ff7043;
  color: white;
}

.card .card-footer .float-left {
  margin: 0;
  }


  .card .card-footer .float-right a.active {
    color: #d50000;
  }

  .card .card-footer .float-right a {
    color: #757575;
    margin-left: 8px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .card .card-footer .right a .fa-heart {
    color: var(--navBackground) !important;
  }


  .card.card-cascade.narrower {
    margin-top: 1.25rem;
}

.card.card-cascade.narrower .view.view-cascade {
    margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
}
.card.card-cascade .view.view-cascade {
    border-radius: .25rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.description {
  height: 7.2rem;
    display: block;
    overflow: hidden;
  word-wrap: break-word;
  .text{
    height: 4.5rem;
    overflow-y: scroll;
    overflow: auto;
    .bold{
      font-weight: bold !important;
      font-size: 14px !important;
    }
  }



/* width */
.text::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.text::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.text::-webkit-scrollbar-thumb {
  background: $firstColor;
  border-radius: 10px;
}

/* Handle on hover */
.text::-webkit-scrollbar-thumb:hover {
  background: $secondColor;
}

  .unit{
    color: $seventhColor;
    background-color: $fifthColor;
    padding: 0.2rem;
  }

.price {
  color: black;
  background-color: $sixthColor;
  padding: 0.2rem;
}
}

.stock {
  font-size: 1.3rem;
}


/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 8px 0;
    background-color: red;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  &.ribbon-top-left span{
    background-color: green;
  }
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid red;
}
.ribbon.ribbon-top-left::before,
.ribbon.ribbon-top-left::after {
  border: 5px solid green;
}


/* top left*/
.ribbon-top-left {
  top: -28px;
  left: -8px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 16px;
}
.ribbon-top-left::after {
  bottom: 16px;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -28px;
  right: -8px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 16px;
}
.ribbon-top-right::after {
  bottom: 16px;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}
