<div mdbModal #contactModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog cascading-modal" role="document" *ngIf="available">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header bc-second-custom text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold mb-0">Contacto</h4>
        <button type="button" class="close mr-0 p-0" data-dismiss="modal" (click)="close()"
          aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->

      <form [formGroup]="contactForm" (ngSubmit)="sendContact()">
        <div class="modal-body m-3">
          <div class="md-form mb-5">
            <mdb-icon fas icon="user" class="prefix"></mdb-icon>
            <input mdbInput type="text" class="form-control" id="contactName"  maxlength="200"
            [ngClass]="{'invalid': submittedContact && name.errors }"  name="contactName" formControlName="name" >
              <label for="contactName">Su Nombre *</label>
              <mat-error *ngIf="submittedContact && name.hasError('required')">
                Su nombre es <strong>requerido</strong>.
              </mat-error>
          </div>

          <div class="md-form mb-5">
            <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
            <input mdbInput type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp"
            [ngClass]="{'invalid': submittedContact && email.errors }"   maxlength="200"
            name="contactEmail" formControlName="email"  [email]="true">
              <label for="contactEmail">Su Correo *</label>
              <mat-error *ngIf="submittedContact && (email.hasError('email') || email.hasError('pattern')) && !email.hasError('required')">
                Por favor, ingrese un correo valido.
              </mat-error>
              <mat-error *ngIf="submittedContact && email.hasError('required')">
                Su correo es <strong>requerido</strong>.
              </mat-error>
            </div>

          <div class="md-form mb-5">
            <mdb-icon fas icon="tag" class="prefix"></mdb-icon>
            <input mdbInput type="text" class="form-control" id="contactSubject"   maxlength="100"
            [ngClass]="{'invalid': submittedContact &&  subject.errors }" name="contactSubject" formControlName="subject" >
              <label for="contactSubject">Asunto *</label>
              <mat-error *ngIf="submittedContact && subject.hasError('required')">
                El asunto es <strong>requerido</strong>.
              </mat-error>
          </div>

          <div class="md-form">
              <mdb-icon fas icon="pen" class="prefix"></mdb-icon>
              <textarea mdbInput type="text" id="contactComment" class="md-textarea form-control py-2" name="contactComment"
              [ngClass]="{'invalid': submittedContact &&  comment.errors }" rows="2" formControlName="comment"  maxlength="2000" ></textarea>
                <label for="contactComment">Comentario *</label>
                <mat-error *ngIf="submittedContact && comment.hasError('required')">
                  Debe ingresar un comentario, el mismo es <strong>requerido</strong>.
                </mat-error>

          </div>

        </div>
        <!--Footer-->
        <div class="modal-footer justify-content-center text-white">
            <button class="btn bc-second-custom white-text" id="signUpContactButton" type="submit"
            mdbWavesEffect>Enviar <mdb-icon fas icon="paper-plane"></mdb-icon></button>
        </div>
      </form>
    </div>
    <!--/.Content-->


    <!--


             <div class="text-center">
               <a type="button" mdbBtn floating="true" color="fb" class="waves-light" mdbWavesEffect>
                 <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="gplus" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="google-plus"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="ins" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="instagram"></mdb-icon>
            </a>
          </div>
        -->

  </div>
</div>
