::ng-deep .modal-backdrop{
  height: 100%;
}

.modal-dialog.modal-notify{
  margin-top: 10%;
}

.modal-content{
    border: 0;
        border-radius: .125rem;
    }
    
    .modal-header{
        display: flex;
        margin: -1.5rem 1rem 0 1rem;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        position: relative;
        z-index: 1;
        padding: 0;
        margin-right: 1rem;
        margin-bottom: -20px;
        margin-left: 1rem;
        border-radius: .25rem !important;
        border: 0;
        align-items: inherit;
    }

    .tab-content{    
        padding: 1.7rem 0 0 0;
    }
    
    modal-body{
    padding-right: 2.2rem;
        padding-left: 2.2rem;
        color: #616161;
    }
  
  .btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
  }
   
  .btn-fb {
    color: #fff;
    background-color: #3b5998 !important;
  }
  .btn-tw {
    color: #fff;
    background-color: #55acee !important;
  }
  .btn-gplus {
    color: #fff;
    background-color: #dd4b39 !important;
  }
  .btn-ins {
    color: #fff;
    background-color: #2e5e86 !important;
  }
  .btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 47px;
  height: 47px;
  .fab{
      
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
  }
  }