<button *ngIf="addNew" mat-raised-button class="c-one float-right mt-4" (click)="redirectToNew()"><span class="new">NUEVO
</span> <mat-icon class="mat-18">add
  </mat-icon></button>
<app-filter (filter)="applyFilter($event)"></app-filter>

<div class="example-container mat-elevation-z8">

  <mat-table #outerSort="matSort" [dataSource]="dataSource" multiTemplateDataRows matSort>

    <ng-container *ngFor="let item of getColumns(displayedColumns); let i=index" [matColumnDef]="item">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="px-2" [ngClass]="{'w-80 pl-3': item === 'id' ||  item === 'image'}">
        {{textColumns[i] | uppercase }} </mat-header-cell>
      <mat-cell class="px-2" *matCellDef="let row" [ngClass]="{'w-80': item === 'id' ||  item === 'image' ,'pl-3': !childrens}">
        <button mat-icon-button *ngIf="item === 'id' && childrens" [class.example-element-row]="row.childrens?.data.length"
          [class.example-expanded-row]="expandedElement === row" (click)="toggleRow(row)">
          <mat-icon class="mat-icon-rtl-mirror">
            {{"expandedElement === row" ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <img *ngIf="item === 'image'"  width="100%" height="100%" [src]="row[item].value" />
        {{item !== 'image' ? getValue(row,item) : ''}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="close">
      <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="w-50">
        <button *ngIf="row.canClose" mat-icon-button color="primary" class="mx-1"  [matTooltip]="closeTooltip" (click)="onClose(row)">
          <mat-icon class="mat-18">lock_open</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="w-50">
        <button mat-icon-button color="primary" class="mx-1" (click)="redirectToDetails(row.id)">
          <mat-icon class="mat-18">remove_red_eye</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="copy">
      <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="w-50">
        <button mat-icon-button class="mx-1 c-three" (click)="redirectToCopy(row.id)">
          <mat-icon class="mat-18">file_copy</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="w-50">
        <button mat-icon-button color="accent" [disabled]="!canEdit" class="mx-1" (click)="redirectToUpdate(row.id)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="w-50">
        <button mat-icon-button color="warn" *ngIf="!row.deletedAt" [disabled]="!canDeleteRestore" class="mx-1" (click)="redirectToDelete(row)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
        <button mat-icon-button *ngIf="row.deletedAt" [disabled]="!canDeleteRestore" class="mx-1 c-text-second-custom"
          (click)="redirectToRestore(row)">
          <mat-icon class="mat-18">settings_backup_restore</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="check">
      <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="w-50">
        <button mat-icon-button color="warn" *ngIf="!row.canceled && !row.deletedAt" class="mx-1" (click)="redirectToCheck(row.id)">
          <mat-icon class="mat-18">cancel</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="download1">
      <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="w-50">
        <button mat-icon-button class="mx-1 c-six"  [matTooltip]="download1Tooltip" (click)="onDownload1(row)">
          <mat-icon class="mat-18">get_app</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="download2">
      <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="w-50">
        <button mat-icon-button class="mx-1 c-text-seventh-custom"  [matTooltip]="download2Tooltip" (click)="onDownload2(row)">
          <mat-icon class="mat-18">play_for_work</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail" >
      <mat-cell *matCellDef="let element"  class="bc-second-custom" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" *ngIf="element.childrens?.data.length"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" [ngClass]="{'display-none': element !== expandedElement}">
          <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
            <mat-table #innerTables  [dataSource]="element.childrens">
              <ng-container matColumnDef="{{innerColumn}}"
                *ngFor="let innerColumn of getColumns(innerDisplayedColumns) ; let i=index">
                <mat-header-cell *matHeaderCellDef class="px-2"  [ngClass]="{'w-60 pl-3': innerColumn === 'id'}"> {{textInnerDisplayedColumns[i] | uppercase }}
                </mat-header-cell>
                <mat-cell class="px-2" *matCellDef="let element" [ngClass]="{'w-60 pl-3': innerColumn === 'id'}"> {{getValue(element,innerColumn)}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="viewc">
                <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="w-50">
                  <button mat-icon-button color="primary" class="mx-1" (click)="redirectToDetailsChild(element.id)">
                    <mat-icon class="mat-18">remove_red_eye</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="editc">
                <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="w-50">
                  <button mat-icon-button color="accent" class="mx-1" (click)="redirectToUpdateChild(element.id)">
                    <mat-icon class="mat-18">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="deletec">
                <mat-header-cell *matHeaderCellDef class="w-50"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="w-50">
                  <button mat-icon-button color="warn" *ngIf="!element.deletedAt" class="mx-1"
                    (click)="redirectToDeleteChild(element)">
                    <mat-icon class="mat-18">delete</mat-icon>
                  </button>
                  <button mat-icon-button color="success" *ngIf="element.deletedAt" class="mx-1"
                    (click)="redirectToRestoreChild(element)">
                    <mat-icon class="mat-18">settings_backup_restore</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="innerDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'deleted': row.deletedAt, 'canceled': row.canceled}" (click)="clickRowChange(row)">
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" [ngClass]="{'deleted': row.deletedAt, 'display-none': row !== expandedElement}"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="resultsLength"
    showFirstLastButtons></mat-paginator>
</div>
