
@import '../../../../variables';

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.w-50{
  max-width: 50px;
  min-width: 50px;
}

.w-60{
  max-width: 60px;
  min-width: 60px;
}

.w-80{
  max-width: 80px;
  min-width: 80px;
}

table {
  width: 100%;
}

.new{
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
}

mat-row, mat-footer-row{
  min-height: 0;
}

.example-element-detail mat-row:nth-child(even){
  background-color: #EEEEEE;
  }

.example-element-detail mat-row:nth-child(odd){
  background-color:white;
  }


mat-row:hover {
background-color: transparentize($secondColor, 0.8) !important;
}

.deleted {
  background-color: rgba(255,99,88,0.25);
}

.canceled {
  background-color: rgba(255, 50, 50, 0.25);
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}

.display-none{
  display: none;
}
