<div mdbModal #configStaffModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true"
>
    <div class="modal-dialog modal-lg " role="document" *ngIf="available">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="c-text-first-custom">Agregar nuevo miembro al equipo
                </h1>
                <button mat-icon-button class="close-button" (click)="close()">
                    <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="equipoEmail" class="form-control"  maxlength="500"
                        [ngClass]="{'invalid':  submitted && email.errors  }"
                            name="equipoEmail" formControlName="email">
                        <label for="equipoEmail">Email *</label>
                        <mat-error *ngIf="!hasError('email') && (hasError('email','email') || email.hasError('pattern')) ">
                            Por favor, ingrese un correo valido.
                        </mat-error>
                        <mat-error *ngIf="hasError('email') ">
                            El email es <strong>requerido</strong>.
                        </mat-error>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbWavesEffect (click)="close()"
                    class="btn btn-outline-first-custom waves-effect">cancelar</button>
                <button type="button" (click)="save()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>guardar</button>
            </div>
        </div>
    </div>
</div>
