@import '../../../variables';

.line{
  display: flex;
  margin-right: auto;
  border-radius: .2rem;
  width: 100%;
  max-width: 7.5rem;
  min-width: 0;
  overflow: visible;
  z-index: 0;
  position: relative;
  transform: rotate(0deg);
  margin: 1rem 0;
  box-sizing: border-box;
  padding-top: .4rem;
    }

    .bg-quienes-somos{
     //background: url(../../../../assets/quienes-somos.png) no-repeat center center;
      margin: 0 auto;

     // background-image: linear-gradient(190deg,  transparentize($secondColor, 0.3) , transparentize($firstColor, 0.3));

      border: 1.5rem solid transparent;

      border-image: linear-gradient(190deg,  transparentize($secondColor, 0.3) , transparentize($firstColor, 0.3));
      border-image-slice: 1;

    }
    .hw-rem{
      padding: 3rem !important;
    }

