<div class="m-3 z-depth-1">
  <!--Section: Content-->

  <section class="waves-light">

    <!--Grid row-->
    <div class="d-flex c-text-first-custom bg-quienes-somos  ">

      <!--Grid column-->
      <div class="hw-rem">
        <h3 class="font-weight-bold text-uppercase title_AS">PRESENTACIÓN</h3>
        <div class="line bc-second-custom"></div>
        <p><span class="mat-h1 title_AS">LA JUSTA ES </span>una <b>comercializadora</b> que, desde la <b>Universidad
            Nacional de La Plata</b>, y en <b>Red con organizaciones</b> sociales, comunitarias, políticas y culturales,
          busca generar <b>nuevos circuitos comerciales cortos para la economía social y solidaria</b>, que promocionen
          un compre de proximidad de alimentos y otros bienes elaborados artesanalmente por cooperativas, agricultores
          familiares y pequeños productores de la economía popular, en pos de facilitar el acceso a los productos de
          este sector, <b>intermediando solidariamente</b> entre el consumo y la producción local.</p>
        <p><span class="mat-h1 title_AS">NOS MUEVE </span>caminar hacia modos de producción, distribución,
          comercialización y consumo <b>más sustentables y más justos</b>, sin explotaciones sociales ni ambientales,
          que transiten la agroecología, ofrezcan alimentos saludables, con precios justos, con igualdad de género, con
          desarrollo desde lo local, con soberanía alimentaria, con organización y participación colectiva. Una economía
          social que garantice la reproducción de la vida de todxs.</p>
        <p><span class="mat-h1 title_AS">ACERCAMOS </span>la <b>producción local y regional</b> realizada con trabajo
          cooperativo, familiar, autogestivo, asociativo, y <b>acompañada</b> por equipos de la Universidad Nacional de
          La Plata.</p>
        <p><span class="mat-h1 title_AS">CONSTRUIMOS </span>un <b>consumo consciente</b>, responsable, reflexivo
          respecto de las condiciones sociales y ambientales en las que se han producido esos bienes y servicios que se
          consumen, el tipo de producción que sostiene, las relaciones de trabajo y de intercambio que promueve; un
          consumo activado colectivamente, organizado, para que pueda expandirse y sostener a la producción alternativa.
        </p>
        <p><span class="mat-h1 title_AS">HACEMOS </span><b>una intermediación solidaria</b>, brindando un servicio de
          logística, acopio, distribución, entrega, comunicación, activación de nodos de consumo,
          formación-capacitación, y apoyo a la producción desde distintos perfiles interdisciplinarios de equipos de la
          UNLP con experiencia en acompañamiento de la agricultura familiar y la economía social. Promovemos precios
          justos y transparentes. La comercialización alternativa que desarrollamos no persigue el lucro, la
          maximización de la ganancia, sino como en todo proceso cooperativo, retribuir en forma justa el trabajo
          implicado y sostener y mejorar sus condiciones de existencia. Luego de cubrir los gastos y el trabajo, pueden
          generarse excedentes, que se reinvierten en mejorar las condiciones de producción-reproducción.</p>
      </div>
      <!--Grid column-->

    </div>
  </section>
</div>
<div class="m-3 z-depth-1">

  <section  class="c-text-first-custom">
    <!--Grid row-->
    <h3 class="font-weight-bold text-uppercase title_AS p-2">PRENSA</h3>
      <!--Grid column-->
        <div  *ngIf="!loading">
          <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="resultsLength"
            showFirstLastButtons class="mb-2 w-100" (page)="OnPageChange($event)">
          </mat-paginator>
        </div>
        <div *ngIf="!loading">
          <ng-container *ngFor="let news of newsList">
              <app-card-news [news]="news"></app-card-news>
          </ng-container>
        </div>

      <!--Grid column-->


  </section>
  <!--Section: Content-->

</div>
