<div class="m-3">
  <blockquote class="blockquote bl-title-first-custom">
    <h3 class="c-text-first-custom mb-0">Balance</h3>
  </blockquote>
  <div class="control-section">
    <app-table [displayedColumns]="['id', 'totalExpenses', 'totalPurchaseProducer', 'totalSale', 'openDate:date', 'dateBalance:date','general.id']"
      [textColumns]="['id', 'Egresos', 'Compras', 'Ingresos', 'Fecha Apertura', 'Fecha Cierre', 'Ronda']" [type]="'BALANCE'" (rowChange)="onDetailBalance($event)"
      [addNew]="false" [changeClick]="true"></app-table>
  </div>
</div>
<div class="m-3">
  <blockquote class="blockquote bl-title-first-custom">
    <h3 class="c-text-first-custom mb-0">Egresos</h3>
  </blockquote>
  <div class="control-section">
    <app-table [displayedColumns]="['id', 'staff.description', 'description', 'quantity', 'price', 'total', 'date:date', 'balanceDate:date', 'edit', 'delete']"
        [textColumns]="['id', 'Quien', 'Descripción', 'Cant.', 'Precio', 'Total', 'Fecha', 'Fecha Pago']" [type]="'EXPENSE'" [addNew]="selectedBalanceIsCurrentGeneral"
        [aditionalFilter]="aditionalFilter"  [canDeleteRestore]="selectedBalanceIsCurrentGeneral"  [canEdit]="selectedBalanceIsCurrentGeneral"
          (new)="onNewExpense()" (edit)="onEditExpense($event)" (delete)="onDeleteExpense($event)" (restore)="onRestoreExpense($event)"></app-table>
</div>
</div>

<div class="m-3">
  <blockquote class="blockquote bl-title-first-custom">
    <h3 class="c-text-first-custom mb-0">Compras</h3>
  </blockquote>
  <div class="control-section">
    <app-table [displayedColumns]="['id', 'producer.name', 'product.title', 'quantity', 'aditional', 'price', 'total', 'edit', 'delete']"
        [textColumns]="['id', 'Productor', 'Producto', 'Cantidad', 'Adicional', 'Precio', 'Total']" [type]="'PURCHASE'" [addNew]="selectedBalanceIsCurrentGeneralClose"
        [aditionalFilter]="aditionalFilter" [canDeleteRestore]="selectedBalanceIsCurrentGeneralClose"  [canEdit]="selectedBalanceIsCurrentGeneralClose"
        (new)="onNewPurchase()" (edit)="onEditPurchase($event)" (delete)="onDeletePurchase($event)" (restore)="onRestorePurchase($event)"></app-table>
</div>
</div>

<div class="m-3">
  <blockquote class="blockquote bl-title-first-custom">
    <h3 class="c-text-first-custom mb-0">Ventas</h3>
  </blockquote>
  <div class="control-section">
    <app-table [displayedColumns]="['id', 'user.name', 'nodeDate.node.name', 'saleDate:date', 'canceled', 'total:currency']"
        [textColumns]="['id', 'Usuario', 'Nodo', 'Fecha Venta', 'Cancelado', 'Total']" [type]="'CART'"
        [childrens]="'cartProducts'" [innerDisplayedColumns]="['id', 'product.title', 'quantity', 'price:currency', 'isCanceled']"
        [textInnerDisplayedColumns]="['id', 'Producto', 'Cantidad', 'Precio', 'Cancelado']" [aditionalFilter]="aditionalFilter"
        [addNew]="false" >
    </app-table>
</div>
</div>
