<div  fxFlex fxLayout="row" class="w-100 m-3">

  <mdb-card *ngIf="producer" class="w-100">
    <div class="c-text-first-custom p-2">
    <h3 class="mb-0">{{ producer.name }}</h3>
    <h4 class="mb-0">{{ producer.origin }}</h4>
    </div>
    <div class="line bc-second-custom"></div>

  <mdb-card-body>
    <div class="p-2" fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="center">
      <div fxFlex.gt-xs="40" fxFlex.lt-sm="100">
        <mdb-carousel  *ngIf="producer.images.length > 0" class="carousel slide carousel-fade"
          [animation]="'fade'" >
          <mdb-carousel-item *ngFor="let img of producer.images; index as i">
            <img [src]="img.value" class="w-100 mh400" alt="My image {{ i + 1 }} description" />
          </mdb-carousel-item>
        </mdb-carousel>

        <img
        *ngIf="producer.images.length === 0"
        class="w-100 mh400"
        src="../../../../assets/no_image.jpg"
        />
      </div>
      <span fxFlex.gt-xs="5" ></span>
      <div fxFlex.gt-xs="55" fxFlex.lt-sm="100">
        <p>
          {{ producer.description }}
        </p>
        <mat-chip-list *ngIf="producer.tags" class="mb-3">
          <mat-chip
            class="example-box"
            *ngFor="let tag of producer.tags" color="primary" selected >
            {{tag.description}}
          </mat-chip>
        </mat-chip-list>

        <youtube-player *ngIf="producer.youtubeVideoId" [videoId]="producer.youtubeVideoId"
        suggestedQuality="highres" [height]="250" [width]="300" >
      </youtube-player>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>

</div>
