<a class="btn bc-second-custom custom-btn" (click)="openCartModal()">
  <span *ngIf="totalQuantity > 0" class="total-price"> {{ totalPrice | currency:'$' }}
  </span>
  <span class="badge badge-light mt-1" *ngIf="totalQuantity > 0">{{totalQuantity}}</span>
  <i class="fas fa-shopping-basket"></i>
</a>
