.custom-btn{
  border-radius: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.icon-shopping{
  font-size: 1.2rem;
}

.total-price{
  vertical-align: super;
  font-size: 0.9rem;
}

@media (max-width: 750px) {
  .custom-btn{
    padding: .6rem 1rem;
    }
}

@media (max-width: 450px) {
  .custom-btn{
    padding: .4rem .8rem;
    }
}