

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" >
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="c-text-first-custom border">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <mat-button class="cursor-pointer remove-outline" [routerLink]="[getRouterLink(node.id)]">
        {{ node.name }} 
      </mat-button> 
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="c-text-first-custom border">
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <mat-button class="cursor-pointer remove-outline" [routerLink]="['/shop/productos/'+node.id]">
        {{ node.name }} 
      </mat-button> 
    </mat-tree-node>
  </mat-tree>

