@import '../../../../variables';
.remove-outline, .color-hover{

    overflow: hidden;
    white-space: pre-wrap;
    &:hover {
        color: $secondColor;
    }
    &:focus {
        outline: none;
    }
}