

  <button mat-menu-item [matMenuTriggerFor]="sub_menu" #menuTrigger="matMenuTrigger" class="c-text-first-custom" [routerLink]="['/shop/productos/'+ menuCategory.id]"
  [routerLinkActive]="['active-submenu']" (mouseover)="menuTrigger.openMenu()" (click)="selectCategory()">{{menuCategory.name}}</button>
  <mat-menu #sub_menu="matMenu" (mouseleave)="menuTrigger.closeMenu()">
    <ng-container *ngFor="let subItem of menuCategory.childList">
      <button *ngIf="!subItem.childList" mat-menu-item class="c-text-first-custom" [routerLink]="['/shop/productos/'+ subItem.id]"
      [routerLinkActive]="['active-submenu']" (click)="selectCategory()">{{subItem.name}}</button>
      <app-button-with-children *ngIf="subItem.childList" [menuCategory]="subItem"></app-button-with-children>
    </ng-container>
  </mat-menu>
