<mdb-carousel class="carousel slide carousel-fade" *ngIf="banners" [animation]="'fade'">
  <mdb-carousel-item *ngFor="let banner of banners; index as i">
    <div class="view w-100">
      <img class="d-block w-100" [src]="banner.image.value" [alt]="banner? banner.title : 'imagen'">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect (click)="goTo(banner.url)"></div>
    </div>
    <div class="carousel-caption bc-second-custom-opacity-60" *ngIf="banner.title || banner.subtitle || banner.text" >
      <h3 class="h3-responsive">{{banner.title}}</h3>
      <h5 class="c-text-first-custom">
        <strong>{{banner.subtitle}}</strong>
      </h5>
      <p>{{banner.text}}</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
