.view img {
  min-width: 600px;
}
::ng-deep .carousel-inner {

  img {
    min-height: 200px;
  }
}

.carousel-caption{
  right: 0;
  left: 0;
}

.card.card-cascade {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.view {
  img{
   height: 400px;
   object-fit: cover;
  }
}

.card-body {
  z-index: 3;
  margin-top: -1rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-right: 4%;
  margin-left: 4%;
  background: #fff;
}
