<div mdbModal #changePasswordModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg" role="document" *ngIf="available">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header bc-second-custom text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2 mb-0">CAMBIAR CONTRASEÑA</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="close()" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body m-3">
        <div class="alert alert-danger" role="alert" *ngIf="errorChange">
          {{errorMessage}}
        </div>
        <form [formGroup]="changePasswordForm">
            <div class="md-form form-sm mb-4">
              <mdb-icon fas icon="envelope" class="prefix" [ngClass]="{'fas error-message': email.errors && submitted}">
              </mdb-icon>
              <input mdbInput type="email" id="emailChangePass" class="form-control" name="emailChangePass" pattern
                [ngClass]="{'invalid': email.errors && submitted}" formControlName="email" maxlength="200"
                [email]="true" autocomplete="email">
              <label for="emailChangePass">Correo *</label>
              <mat-error
                *ngIf="(email.hasError('email') || email.hasError('pattern')) && !email.hasError('required') && submitted">
                Por favor, ingrese un correo valido.
              </mat-error>
              <mat-error *ngIf="email.hasError('required') && submitted">
                El correo es <strong>requerido</strong>.
              </mat-error>
            </div>
            <div class="md-form form-sm mb-4" *ngIf="!code">
              <mdb-icon fas icon="lock" class="prefix"
                [ngClass]="{'fas error-message': oldPassword.errors && submitted }">
              </mdb-icon>
              <input mdbInput type="password" id="oldPassword" class="form-control" name="oldPassword"
                [ngClass]="{'invalid': oldPassword.errors && submitted}" formControlName="oldPassword"
                autocomplete="new-password" maxlength="15">
              <label for="oldPassword">Contraseña Actual *</label>
              <mat-error *ngIf="oldPassword.hasError('required') && submitted">
                La contraseña es <strong>requerida</strong>.
              </mat-error>
              <mat-error *ngIf="oldPassword.hasError('minlength') && submitted">
                La contraseña debe tener <strong>mas de 6</strong> caracteres.
              </mat-error>

            </div>
            <div class="md-form form-sm mb-4">
              <mdb-icon fas icon="lock" class="prefix"
                [ngClass]="{'fas error-message': newPassword.errors && submitted, 'fas success-message': !newPassword.errors && !passwordRepeat.errors && submitted && !passwordRepeat.hasError('mustMatch') }">
              </mdb-icon>
              <input mdbInput type="password" id="newPassword" class="form-control" name="newPassword"
                [ngClass]="{'invalid': newPassword.errors && submitted, 'valid': !newPassword.errors && !passwordRepeat.errors && submitted && !passwordRepeat.hasError('mustMatch')}"
                formControlName="newPassword" autocomplete="new-password" maxlength="15">
              <label for="newPassword">Nueva Contraseña *</label>
              <mat-error *ngIf="newPassword.hasError('required') && submitted">
                La contraseña es <strong>requerida</strong>.
              </mat-error>
              <mat-error *ngIf="newPassword.hasError('minlength') && submitted">
                La contraseña debe tener <strong>mas de 6</strong> caracteres.
              </mat-error>
            </div>
            <div class="md-form form-sm mb-4">
              <mdb-icon fas icon="lock" class="prefix"
                [ngClass]="{'fas error-message': passwordRepeat.errors && submitted, 'fas success-message': !newPassword.errors && !passwordRepeat.errors && submitted && !passwordRepeat.hasError('mustMatch')}">
              </mdb-icon>
              <input mdbInput type="password" id="password_confirmation" class="form-control"
                [ngClass]="{'invalid': passwordRepeat.errors && submitted, 'valid': !newPassword.errors && !passwordRepeat.errors && submitted && !passwordRepeat.hasError('mustMatch')}"
                name="passwordRepeat" formControlName="passwordRepeat" autocomplete="new-password" maxlength="15">
              <label for="passwordRepeat">Confirmar Nueva Contraseña *</label>
              <mat-error *ngIf="passwordRepeat.hasError('required') && submitted">
                La confirmación de la contraseña es <strong>requerida</strong>.
              </mat-error>
              <mat-error *ngIf="passwordRepeat.hasError('mustMatch') && submitted">
                La confirmación de la contraseña debe coincidir con la del campo Nueva Contraseña.
              </mat-error>
            </div>
        </form>
      </div>
      <!--Footer-->
      <div class="modal-footer  text-white">
        <button type="button" class="btn bc-second-custom waves-effect" (click)="changePass()">Enviar
          <mdb-icon fas icon="paper-plane" class="prefix ml-1"></mdb-icon>
        </button>
        <button type="button" class="btn btn-outline-first-custom waves-effect ml-auto" data-dismiss="modal"
          (click)="close()" mdbWavesEffect>Cerrar</button>
      </div>
    </div>
    <!--/.Content-->


    <!--


             <div class="text-center">
               <a type="button" mdbBtn floating="true" color="fb" class="waves-light" mdbWavesEffect>
                 <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="gplus" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="google-plus"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="ins" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="instagram"></mdb-icon>
            </a>
          </div>
        -->

  </div>
</div>
