<div mdbModal #passwordModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
  <div class="modal-dialog modal-lg" role="document" *ngIf="available">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header bc-second-custom text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2 mb-0">
          RECUPERAR CONTRASEÑA
        </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="close()" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mt-3 mx-2">


        <div class="row mx-0">
          <div class="col-lg-7">
            <form [formGroup]="passwordForm">
              <div class="md-form form-sm mb-4">
                <mdb-icon fas icon="envelope" class="prefix"
                  [ngClass]="{'fas error-message': submitted && emailPass.errors}">
                </mdb-icon>
                <input mdbInput type="email" id="emailPass" class="form-control" name="emailPass"
                  [ngClass]="{'invalid': submitted && emailPass.errors}" formControlName="email" maxlength="200"
                  [email]="true" maxlength="200">
                <label for="emailPass">Correo *</label>
                <mat-error
                  *ngIf="submitted && (emailPass.hasError('email') || emailPass.hasError('pattern')) && !emailPass.hasError('required') ">
                  Por favor, ingrese un correo valido.
                </mat-error>
                <mat-error *ngIf="submitted && emailPass.hasError('required')">
                  El correo es <strong>requerido</strong>.
                </mat-error>
              </div>
            </form>
          </div>
          <div class="col-lg-5">
            <div class="md-form">
              Ingresa el <span class="font-weight-bold">correo</span> que
              utilizaste para registrarte en nuestra tienda, y te
              <span class="font-weight-bold">enviaremos un email con la información</span>.
            </div>
          </div>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer text-white">
        <button type="button" class="btn bc-second-custom waves-effect" (click)="recoverPass()">
          Enviar
          <mdb-icon fas icon="paper-plane" class="prefix ml-1"></mdb-icon>
        </button>
        <button type="button" class="btn btn-outline-first-custom waves-effect ml-auto" data-dismiss="modal"
          (click)="close()" mdbWavesEffect>
          Cerrar
        </button>
      </div>
    </div>
    <!--/.Content-->

    <!--


             <div class="text-center">
               <a type="button" mdbBtn floating="true" color="fb" class="waves-light" mdbWavesEffect>
                 <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="gplus" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="google-plus"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="ins" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="instagram"></mdb-icon>
            </a>
          </div>
        -->
  </div>
</div>
