<div fxLayout fxLayoutAlign="center center">

  <div class="md-form filter-first-custom mr-3 mb-2" fxFlex="40%">
    <mdb-icon fas icon="filter" class="prefix icon-first-custom" (click)="onFilter()"></mdb-icon>

    <input mdbInput class="form-control" type="text" name="filter" id="filter" [(ngModel)]="textFilter"
      (keyup.enter)="onFilter()" (focusout)="onFilter()">

    <label for="filter">{{placeholder}}</label>
  </div>
</div>