@import '../../variables';

mat-sidenav-container{    
    min-height: calc(100vh - 10rem); 
    overflow-x: scroll;  
}

mat-sidenav-content{    
    min-height: calc(100vh - 10rem);
    min-width: 50rem; 
    margin-left: 10rem !important;
}

::ng-deep .mat-drawer-inner-container {
    width: 10rem;
}

.active{
    border-left: 0.5rem solid $secondColor !important;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 0.2rem;
  }