<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <mat-nav-list *ngFor="let menu of menuConfig">
            <button mat-button matline class="text-uppercase c-text-first-custom" [routerLink]="['/config/'+menu.route]"
                [routerLinkActive]="['active']">{{menu.name}}</button>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>