<div class="py-5 m-3 z-depth-1">
    <section class="p-md-3 mx-md-5 text-lg-left"  >
      <h3 class="font-weight-bold text-center mb-5 pb-3 title_AS">¿Cómo Comprar?</h3>
      <div class="row text-center d-flex justify-content-center">
        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
          <i class="fas fa-sign-in-alt fa-3x c-one mb-4"></i>
          <h4 class="font-weight-bold mb-4 title_AS">Ingresar</h4>
          <p class="text-muted px-2 mb-md-0">
            La primera vez registrate con tu mail. Listo! ya podés ingresar con tu nuevo usuario.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <i class="fas fa-check fa-3x c-two mb-4"></i>
          <h4 class="font-weight-bold mb-4 title_AS">Seleccionar</h4>
          <p class="text-muted px-2 mb-lg-0">
            Armá el pedido, clickeando el <i class="fas fa-shopping-basket"></i> en los productos que desees, que se irán agregando a tu canasto de compras.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <i class="far fa-edit c-three fa-3x mb-4"></i>
          <h4 class="font-weight-bold mb-4 title_AS">Verificar</h4>
          <p class="text-muted px-2 mb-lg-0">
            Arriba a la derecha encontrarás tu Canasto de compras, donde podrás visualizar, modificar y confirmar el pedido.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
          <i class="fas fa-map-marker-alt fa-3x c-four mb-4"></i>
          <h4 class="font-weight-bold mb-4 title_AS">Confirmar</h4>
          <p class="text-muted px-2 mb-md-0">
            Solo resta elegir el Nodo donde vas a retirar y apretar "Confirmar" para finalizar. Te llegará un resumen de la compra al mail registrado.
          </p>
        </div>
      </div>
    </section>
  </div>
