@import "../../../../variables";

.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.modal-dialog {
  z-index: 1100 !important;
}

.mt--1 {
  margin-top: -1rem;
  font-size: 0.875rem;
}

.w-220{
  width: 220px;
}
.w-300{
  width: 300px;
}

.bb-color{
  border-bottom: 1px solid  $firstColor;
}

::ng-deep .timepicker-backdrop-overlay,
::ng-deep .timepicker-overlay {
  z-index: 2000 !important;
}


::ng-deep .mat-calendar-body-selected {
  background-color: $firstColor !important;
}

::ng-deep .ngx-material-timepicker-toggle {
  float: left;
  margin-top: -9px;
  margin-left: -24px;
  width: 1.5rem;
  &:disabled{
    opacity: 0.4;
  }
}

::ng-deep .timepicker {
  .timepicker__header {
    background-color: $firstColor !important;
  }

  .clock-face__clock-hand {
    background-color: $firstColor !important;

    &::after {
      background-color: $firstColor !important;
    }

    &::before {
      border-color: $firstColor !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: $firstColor !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: $firstColor !important;
  }
}
