<div mdbModal #configGeneralModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true"
>
    <div class="modal-dialog modal-lg " role="document" *ngIf="available">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="c-text-first-custom">Configuración General
                    <span>{{action == 'new' ? ' Nuevo' : ' (Modo ' + (action == 'copy' ?  'copia)' : (action == 'detail' && !actionEdit ? 'Consulta)' : 'Edición)'))}}</span>
                </h1>
                <button mat-icon-button class="close-button" (click)="close()">
                    <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
              </div>
                <form [formGroup]="form">
                    <div class="row mx-0 mb-4">
                        <div class="md-form col-sm-6 form-sm m-0 px-0">
                            <mat-form-field class="w-220">
                                <mat-label>Activada desde</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dateActivePage"
                                    [ngClass]="{'invalid': hasError('dateActivePage')}"
                                    (click)="(action != 'detail' || actionEdit) && picker.open()"
                                    [readonly]="action == 'detail' && !actionEdit" name="dateActivePage"
                                    [min]="minDate"
                                    [max]="dateDownPage.value ? dateDownPage.value : maxDate" id="dateActivePage"
                                    (keydown)="false">
                                <mat-datepicker-toggle matSuffix [for]="picker"
                                    [disabled]="action == 'detail' && !actionEdit"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-error *ngIf="hasError('dateActivePage')">La fecha de inicio es
                                <strong>requerida</strong>.</mat-error>
                        </div>
                        <div class="md-form col-sm-6 form-sm m-0 px-0">
                            <mat-form-field class="w-220">
                                <mat-label>Activada hasta</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="dateDownPage"
                                    [ngClass]="{'invalid': hasError('dateDownPage') }"
                                    (click)="(action != 'detail' || actionEdit) && picker2.open()"
                                    [readonly]="action == 'detail' && !actionEdit" name="dateDownPage" id="dateDownPage"
                                    [min]="dateActivePage.value ? dateActivePage.value : minDate" (keydown)="false">
                                <mat-datepicker-toggle matSuffix [for]="picker2"
                                    [disabled]="action == 'detail' && !actionEdit"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <mat-error *ngIf="hasError('dateDownPage')">La fecha de fin es
                                <strong>requerida</strong>.</mat-error>
                        </div>
                    </div>

                    <div formArrayName="activeNodes" *ngFor="let act_node of getActiveNodesControls(); let i = index">
                        <mat-divider></mat-divider>
                        <button mat-icon-button color="warn" class="float-right bg-white" *ngIf="action !== 'detail' || actionEdit" mdbWavesEffect (click)="removeNode(i)">
                          <mat-icon class="mat-18">delete</mat-icon>
                        </button>
                        <div [formGroupName]="i">
                            <div class="md-form form-sm mb-4">
                                <mat-form-field class="w-300"
                                    [ngClass]="{'readonly-wrapper': action == 'detail'  && !actionEdit }">
                                    <mat-select formControlName="node"
                                        [ngClass]="{'readonly-block': action == 'detail' && !actionEdit }"
                                        [id]="'dateTimeNode'+i" [attr.name]="'dateTimeNode'+i"
                                        [disabled]="action == 'detail' && !actionEdit">
                                        <mat-option *ngFor="let n of nodes" [value]="n.id">
                                            {{n.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <label [attr.for]="'dateTimeNode'+i" class="mt--1">Nodo *</label>
                                <mat-error
                                    *ngIf="ctrActiveNode('node',i).hasError('required') && ctrActiveNode('node',i).touched">
                                    El nodo es <strong>requerido</strong>.
                                </mat-error>
                            </div>
                            <div class="md-form form-sm mb-4">
                                <mat-form-field class="w-220">
                                    <mat-label>Seleccione día</mat-label>
                                    <input matInput [matDatepicker]="pickerDay" [id]="'day'+i" [name]="'day'+i"
                                        formControlName="day" [min]="minDate"
                                        [ngClass]="{'invalid': ctrActiveNode('day',i).errors && ctrActiveNode('day',i).touched }"
                                        (click)="(action != 'detail' || actionEdit) && pickerDay.open()"
                                        [readonly]="action == 'detail' && !actionEdit" (keydown)="false">
                                    <mat-datepicker-toggle matSuffix [for]="pickerDay"
                                        [disabled]="action == 'detail' && !actionEdit"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDay></mat-datepicker>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="ctrActiveNode('day',i).hasError('required') && ctrActiveNode('day',i).touched">
                                    El día es <strong>requerida</strong>.
                                </mat-error>
                            </div>
                            <div class="row mx-0 mb-4">
                                <div class="md-form col-sm-6 form-sm m-0 px-0">
                                    <mat-label>Desde *</mat-label>
                                    <input matInput [id]="'dateTimeNodeFrom'+i" [name]="'dateTimeNodeFrom'+i"
                                        formControlName="dateTimeFrom" class="float-left w-220 bb-color"
                                        [ngxTimepicker]="fullTimeFrom" [format]="24"
                                        [ngClass]="{'invalid': ctrActiveNode('dateTimeFrom',i).errors && ctrActiveNode('dateTimeFrom',i).touched }"
                                        readonly [disabled]="action == 'detail' && !actionEdit"
                                        [max]="ctrActiveNode('dateTimeTo',i).value ? ctrActiveNode('dateTimeTo',i).value : '23:59'">
                                    <ngx-material-timepicker-toggle [for]="fullTimeFrom">
                                    </ngx-material-timepicker-toggle>
                                    <ngx-material-timepicker #fullTimeFrom></ngx-material-timepicker>
                                    <mat-error
                                        *ngIf="ctrActiveNode('dateTimeFrom',i).hasError('required') && ctrActiveNode('dateTimeFrom',i).touched">
                                        El horario desde es <strong>requerido</strong>.
                                    </mat-error>
                                </div>
                                <div class="md-form col-sm-6 form-sm m-0 px-0">
                                    <mat-label>Hasta *</mat-label>
                                    <input matInput [id]="'dateTimeNodeTo'+i" [name]="'dateTimeNodeTo'+i"
                                        formControlName="dateTimeTo" class="float-left w-220 bb-color"
                                        [ngxTimepicker]="fullTimeTo" [format]="24"
                                        [ngClass]="{'invalid': ctrActiveNode('dateTimeTo',i).errors && ctrActiveNode('dateTimeTo',i).touched }"
                                        readonly [disabled]="action == 'detail' && !actionEdit"
                                        [min]="ctrActiveNode('dateTimeFrom',i).value ? ctrActiveNode('dateTimeFrom',i).value : '00:00'">
                                    <ngx-material-timepicker-toggle [for]="fullTimeTo">
                                    </ngx-material-timepicker-toggle>
                                    <ngx-material-timepicker #fullTimeTo></ngx-material-timepicker>
                                    <mat-error
                                        *ngIf="ctrActiveNode('dateTimeTo',i).hasError('required') && ctrActiveNode('dateTimeTo',i).touched ">
                                        El horario hasta es <strong>requerido</strong>.
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="md-form form-sm mb-4">
                        <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="addNode()"
                            mdbWavesEffect class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>Agregar
                            Nodo</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbWavesEffect (click)="close()"
                    class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
                <button type="button" *ngIf="action == 'detail' && !actionEdit" (click)="edit()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>editar</button>
                <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="save()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>guardar</button>
            </div>
        </div>
    </div>
</div>
