<app-layout>
  <mat-sidenav-container *ngIf="!loading">
    <mat-sidenav #sidenav role="navigation">
      <app-sidebar [categories]="categories" (sidenavClose)="sidenav.close()"
        (openContact)="this.modalService.open('contact-modal')"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header [categories]="categories" (sidenavToggle)="sidenav.toggle()"
        (openLoginRegister)="this.modalService.open('login-modal')"
        (openContact)="this.modalService.open('contact-modal')" (openCart)="this.modalService.open('cart-modal')"
        (openProfile)="this.modalService.open('profile-modal')" (openChangePassword)="this.modalService.open('change-password-modal')" (openCartHistory)="this.modalService.open('cart-history-modal')" ></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
<app-contact-modal id="contact-modal"></app-contact-modal>

<app-cart-history-modal id="cart-history-modal" *ngIf="currentUser" (openNode)="openNodeLocation($event)"></app-cart-history-modal>
<app-cart-modal id="cart-modal" [idCart]="selectedCartId" (openProductDetail)="openProductDetail($event)" (openNode)="openNodeLocation($event)"
  (openLogin)="this.modalService.open('login-modal')"></app-cart-modal>

<app-profile-modal id="profile-modal" *ngIf="currentUser" ></app-profile-modal>

<app-product-detail-modal id="product-detail-modal" [idProduct]="selectedProductId" (openGallery)="openGallery($event)">
</app-product-detail-modal>


<app-gallery-modal id="gallery-modal" [images]="imagesModal"></app-gallery-modal>

<app-location-modal id="location-modal" [node]="node"></app-location-modal>
<app-config-user-modal id="config-user-modal" [idElement]="selectedUser.id" [action]="selectedUser.action"
  *ngIf="isAdmin && selectedUser"></app-config-user-modal>
<app-config-unit-modal id="config-unit-modal" [idElement]="selectedUnit.id" [action]="selectedUnit.action"
  *ngIf="isAdmin && selectedUnit"></app-config-unit-modal>
  <app-config-staff-modal id="config-staff-modal" [idElement]="selectedStaff.id" [action]="selectedStaff.action"
    *ngIf="isAdmin && selectedStaff"></app-config-staff-modal>
    <app-config-tag-modal id="config-tag-modal" [idElement]="selectedTag.id" [action]="selectedTag.action"
      *ngIf="isAdmin && selectedTag"></app-config-tag-modal>
      <app-config-news-modal id="config-news-modal" [idElement]="selectedNews.id" [action]="selectedNews.action"
        *ngIf="isAdmin && selectedNews"></app-config-news-modal>
<app-config-product-modal id="config-product-modal" [idElement]="selectedProduct.id" [action]="selectedProduct.action"
  *ngIf="isAdmin && selectedProduct"></app-config-product-modal>
<app-config-producer-modal id="config-producer-modal" [idElement]="selectedProducer.id"
  [action]="selectedProducer.action" *ngIf="isAdmin && selectedProducer"></app-config-producer-modal>
<app-config-node-modal id="config-node-modal" [idElement]="selectedNode.id" [action]="selectedNode.action"
  *ngIf="isAdmin && selectedNode"></app-config-node-modal>
<app-config-general-modal id="config-general-modal" [idElement]="selectedGeneral.id" [action]="selectedGeneral.action"
  *ngIf="isAdmin && selectedGeneral"></app-config-general-modal>
<app-config-category-modal id="config-category-modal" [idElement]="selectedCategory.id"
  [action]="selectedCategory.action" *ngIf="isAdmin && selectedCategory"></app-config-category-modal>
<app-config-cart-modal id="config-cart-modal" [idElement]="selectedCart.id" [action]="selectedCart.action"
  *ngIf="isAdmin && selectedCart"></app-config-cart-modal>
<app-config-banner-modal id="config-banner-modal" [idElement]="selectedBanner.id" [action]="selectedBanner.action"
  *ngIf="isAdmin && selectedBanner"></app-config-banner-modal>
  <app-config-expense-modal id="config-expense-modal" [idElement]="selectedExpense.id" [action]="selectedExpense.action"
    *ngIf="isAdmin && selectedExpense"></app-config-expense-modal>
    <app-config-purchase-modal id="config-purchase-modal" [idElement]="selectedPurchase.id" [action]="selectedPurchase.action"
      *ngIf="isAdmin && selectedPurchase"></app-config-purchase-modal>
  <app-config-personal-modal id="config-personal-modal" [idElement]="selectedPersonal.id" [action]="selectedPersonal.action"
    *ngIf="isAdmin && selectedPersonal"></app-config-personal-modal>

      <app-login-modal id="login-modal" (openPassword)="this.modalService.open('password-modal')"></app-login-modal>

      <app-password-modal id="password-modal"></app-password-modal>
      <app-change-password-modal id="change-password-modal" [code]="codeRecovery" ></app-change-password-modal>
<spinner></spinner>
