.top-6rem{
    position: relative;
    top:6rem;
}


main{
    min-height: calc(100vh - 10rem);
  }

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}
