<footer class="page-footer font-small ">
  <div class="bc-first-custom-opacity-60">
    <!--Copyright-->
    <div class="footer-copyright py-3 pl-2 pr-2">
      Creado por Pipo-Fran Tesina 2020
      <!-- Social icons -->
      <div class="ml-auto">
        <a href="https://www.facebook.com/La-Justa-comercializadora-105707981222282/" target="_blank">
          <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://www.instagram.com/lajusta.comercializadora/?hl=es-la" target="_blank">
          <i class="fab fa-instagram mr-3"></i>
        </a>


      </div>
      <!-- Social icons -->
    </div>
    <!--/.Copyright-->
  </div>

</footer>
<!--Footer-->
