<div class="m-3">
  <blockquote class="blockquote bl-title-first-custom">
    <h3 class="c-text-first-custom mb-0">Ventas</h3>
  </blockquote>
  <div class="control-section">
    <app-table [displayedColumns]="['id', 'user.name', 'nodeDate.node.name', 'saleDate', 'canceled', 'total:currency', 'view', 'edit', 'delete', 'download1', 'check']"
        [textColumns]="['id', 'Usuario', 'Nodo', 'Fecha Venta', 'Cancelado', 'Total']" [type]="'CART'"
        [childrens]="'cartProducts'"[innerDisplayedColumns]="['id', 'product.title', 'quantity', 'price:currency', 'isCanceled']"
        [textInnerDisplayedColumns]="['id', 'Producto', 'Cantidad', 'Precio', 'Cancelado']"
        [addNew]="false" (detail)="onDetail($event)"
        [download1Tooltip]="'Descargar PDF'"
        (edit)="onEdit($event)" (delete)="onDelete($event)" (restore)="onRestore($event)" (download1)="onDownload1($event)" (check)="onCheck($event)">
    </app-table>
</div>
</div>

