<div mdbModal #cartModal="mdbModal" class="modal fade" tabindex="0" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg min-width" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Tu compra</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mx-0">

          <!--Accordion wrapper style="max-height: 28px"-->
          <table class="table table-striped" *ngIf="cartItems">
            <thead>
              <tr>
                <th class="w-1rem">#</th>
                <th>Item</th>
                <th class="w-5rem">Precio</th>
                <th class="w-6rem">Cantidad</th>
                <th class="w-6rem">Total</th>
                <th class="w-3rem"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems; index as i;">
                <th>{{i+1}}</th>
                <td (click)="openProductDetailModal(item.product.id)">{{item.product.title}}</td>
                <td>{{ item.product.price | currency:'$' }}</td>
                <td><input type="number" min="1" [max]="item.product.stock" (blur)="updateList(i, 'quantity', $event)"
                  (change)="updateList(i, 'quantity', $event)"
                    [ngModel]="item.quantity" /></td>
                <td>{{item.product.price * item.quantity | currency:'$' }}</td>
                <td (click)="removeItem(item.product.id, i)"><a>
                    <mdb-icon fas icon="trash" class="prefix c-text-second-custom"></mdb-icon>
                  </a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4" class="text-right">
                  <strong>
                    <span>Total</span>:
                  </strong>
                </td>
                <td colspan="2" class="text-left" >
                  <div *ngIf="isPersonal(); else withoutDiscount"><del>{{getTotal()| currency:'$' }}</del></div>
                  <ng-template #withoutDiscount>{{getTotal()| currency:'$' }}</ng-template>
                </td>
              </tr>

              <tr *ngIf=isPersonal()>    
                <td colspan="4" class="text-right">
                    <strong>
                        <span>Descuento por ser parte del equipo:</span>
                    </strong>
                </td>
                <td colspan="2" class="text-left">
                    {{ getPersonalDiscount() | currency:'$' }}
                </td>
              </tr>
              <tr *ngIf=isPersonal()>    
                <td colspan="4" class="text-right">
                    <strong>
                        <span>Total final:</span>
                    </strong>
                </td>
                <td colspan="2" class="text-left">
                    {{getTotalWithDiscount()| currency:'$' }}
                </td>
              </tr>

            </tfoot>
          </table>
        </div>
        <p>Debe seleccionar un punto de retiro</p>
        <mat-radio-group [(ngModel)]="selectedNode">
          <ng-container *ngFor="let nodeg of nodes">
            <span class="d-block">
              <mat-radio-button class="va-sub" [value]="nodeg.id">
                <span addressFull [address]="nodeg.node.address"  [aditional]="nodeg.node.name">
                </span>
                  <span class="text-muted">
                    ({{(nodeg.day | date:'EEEE d \' de \'  MMMM \' del \' y') + ' de ' + nodeg.dateTimeFrom  + 'hs a ' +  nodeg.dateTimeTo + 'hs' }})
                  </span>
              </mat-radio-button>
              <a>
                <mdb-icon fas icon="map-marker-alt mx-2 c-text-first-custom" (click)="openLocationModal(nodeg.node)">
                </mdb-icon>
              </a>
            </span>
          </ng-container>
        </mat-radio-group>

        <label for="observation">Comentario</label>
        <textarea mdbInput type="text" id="observation" class="md-textarea form-control pt-2"
        name="observation" rows="2" [(ngModel)]="observation" maxlength="350"></textarea>
      </div>
      <div class="modal-footer" *ngIf="cartItems">
        <button type="button" mdbBtn class="btn-outline-second-custom waves-light" mdbWavesEffect (click)="close()"
          data-dismiss="modal">Cerrar</button>
        <button mdbBtn class="bc-second-custom waves-light text-white" mdbWavesEffect [disabled]="!selectedNode || cartItems.length === 0" (click)="confirm()">Confirmar
          <mdb-icon fas icon="check" class="ml-2" aria-hidden="true"></mdb-icon>
        </button>
      </div>
    </div>
  </div>
</div>
