.product-detail .product-head {
  padding: 10px;
  font-weight: 500;
}

.product-detail .table th {
  width: 152px;
}

.product-ship {
  height: 15rem;
}

::ng-deep .mat-radio-label-content {
  white-space: normal;
}

::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
::ng-deep .modal{
  overflow-x: auto !important;
  overflow-y: auto !important;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  vertical-align: middle;
  overflow: hidden;
  width:auto;
  height: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.w-1rem{
    width: 1rem;
    max-width: 1rem;
  }
  &.w-2rem{
    width: 2rem;
    max-width: 2rem;
  }
  &.w-3rem{
    width: 3rem;
    max-width: 3rem;
  }
  &.w-4rem{
    width: 4rem;
    max-width: 4rem;
  }
  &.w-5rem{
    width: 5rem;
    max-width: 5rem;
  }
  &.w-6rem{
    width: 6rem;
    max-width: 6rem;
  }
  input{
    display: inline-block;
    width: 4rem;
    min-width: 4rem;
    height: 2rem;
    padding: .3rem 0 .3rem .5rem;
    line-height: 2rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    border-radius: 0;
    vertical-align: middle;
    border: solid #666666 !important;
        border-width: 1px !important;
  }
}

.va-sub{
  vertical-align: sub;
  max-width: 90%;
}

.min-width{
  min-width: 39rem;
}
