<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404 Page Not Found</h2>
        <div class="error-details">
          Parece que hubo un error, Requested page not found! sss
        </div>
        <div class="error-actions">
          <a [routerLink]="[ '/' ]" class="btn bc-first-custom btn-lg white-text">
            <span class="glyphicon glyphicon-home"></span>
            Inicio </a>
          <a  class="btn bc-second-custom btn-lg  white-text">
            <span class="glyphicon glyphicon-envelope"></span> Contacto </a>
        </div>
      </div>
    </div>
  </div>
</div>
