

<div mdbModal #loginModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog cascading-modal" role="document"  *ngIf="available">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2  bc-first-custom" role="tablist">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': !tabRegisterActive}" data-toggle="tab" role="tab"
              (click)="changeTab(false)"><i class="fas fa-user mr-1"></i>
              Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': tabRegisterActive}" data-toggle="tab" role="tab"
              (click)="changeTab(true)"><i class="fas fa-user-plus mr-1"></i>
              Registrarse</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">

          <div class="alert alert-danger" role="alert" *ngIf="errorLoginRegister">
            {{errorMessage}}
          </div>
          <!--Panel 1-->
          <div class="tab-pane fade" [ngClass]="{'in show active': !tabRegisterActive}" id="panel1" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <form [formGroup]="loginForm" (ngSubmit)="signInWithEmail()">
                <div class="md-form form-sm mb-4">
                  <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                  <input mdbInput type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp"
                    name="loginEmail" formControlName="email" maxlength="200"  [email]="true">
                    <label for="loginEmail">Correo *</label>
                </div>
                <div class="md-form form-sm mb-4">
                  <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                  <input mdbInput type="password" class="form-control" id="loginPassword" name="loginPassword"
                    formControlName="password" autocomplete="new-password" maxlength="15">
                    <label for="loginPassword">Contraseña *</label>
                </div>

                <div class="text-center mt-2">
                  <button type="submit" class="btn bc-first-custom white-text" id="loginButton"
                    [disabled]="!loginForm.valid" mdbWavesEffect>Ingresar
                    <mdb-icon fas icon="sign-in-alt"></mdb-icon></button>
                </div>
              </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-center text-md-right mt-1">
                <p>¿No estas registrado? <a class="c-text-first-custom"
                    (click)="tabRegisterActive = true">Registrate</a></p>
                <p>¿Olvidaste tu <a class="c-text-first-custom" (click)="openPasswordModal()">contraseña?</a></p>
              </div>
              <button type="button" class="btn btn-outline-first-custom waves-effect ml-auto" data-dismiss="modal"
                (click)="close()" mdbWavesEffect>Cerrar</button>

            </div>

          </div>
          <!--/.Panel 1-->

          <!--Panel 2-->
          <div class="tab-pane fade" id="panel2" [ngClass]="{'in show active': tabRegisterActive}" role="tabpanel">

            <!--Body-->
            <div class="modal-body">
              <form [formGroup]="userForm" (ngSubmit)="addUser()">
                <div class="md-form form-sm mb-4">
                  <mdb-icon fas icon="user" class="prefix" [ngClass]="{'fas error-message': firstName.errors && submittedRegister}">
                  </mdb-icon>
                  <input mdbInput type="text" id="firstName" class="form-control"
                    [ngClass]="{'invalid': firstName.errors && submittedRegister}" name="firstName" formControlName="firstName" maxlength="50">
                    <label for="firstName">Nombre *</label>
                  <mat-error *ngIf="firstName.hasError('required') && submittedRegister">
                    El nombre es <strong>requerido</strong>.
                  </mat-error>
                </div>
                <div class="md-form form-sm mb-4">
                  <mdb-icon fas icon="user" class="prefix" [ngClass]="{'fas error-message': lastName.errors && submittedRegister}">
                  </mdb-icon>
                  <input mdbInput type="text" id="lastName" class="form-control" name="lastName"
                    [ngClass]="{'invalid': lastName.errors && submittedRegister}" formControlName="lastName" maxlength="50">
                    <label for="lastName">Apellido *</label>
                  <mat-error *ngIf="lastName.hasError('required') && submittedRegister">
                    El apellido es <strong>requerido</strong>.
                  </mat-error>
                </div>
                <div class="md-form form-sm mb-4">
                  <mdb-icon fas icon="envelope" class="prefix" [ngClass]="{'fas error-message': email.errors && submittedRegister}">
                  </mdb-icon>
                  <input mdbInput type="email" id="email" class="form-control" name="email" pattern
                    [ngClass]="{'invalid': email.errors && submittedRegister}" formControlName="email" maxlength="200"
                     [email]="true" autocomplete="email">
                    <label for="email">Correo *</label>
                  <mat-error *ngIf="(email.hasError('email') || email.hasError('pattern')) && !email.hasError('required') && submittedRegister">
                    Por favor, ingrese un correo valido.
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required') && submittedRegister">
                    El correo es <strong>requerido</strong>.
                  </mat-error>
                </div>
                <div class="md-form form-sm mb-4">
                  <mdb-icon fas icon="lock" class="prefix"
                    [ngClass]="{'fas error-message': encryptedPassword.errors && submittedRegister, 'fas success-message': !encryptedPassword.errors && !passwordConfirmation.errors && submittedRegister && !passwordConfirmation.hasError('mustMatch') }">
                  </mdb-icon>
                  <input mdbInput type="password" id="encryptedPassword" class="form-control" name="encryptedPassword"
                    [ngClass]="{'invalid': encryptedPassword.errors && submittedRegister, 'valid': !encryptedPassword.errors && !passwordConfirmation.errors && submittedRegister && !passwordConfirmation.hasError('mustMatch')}"
                    formControlName="encryptedPassword" autocomplete="new-password" maxlength="15">
                    <label for="encryptedPassword">Contraseña *</label>
                  <mat-error *ngIf="encryptedPassword.hasError('required') && submittedRegister">
                    La contraseña es <strong>requerida</strong>.
                  </mat-error>
                  <mat-error *ngIf="encryptedPassword.hasError('minlength') && submittedRegister">
                    La contraseña debe tener <strong>mas de 6</strong> caracteres.
                  </mat-error>
                </div>
                <div class="md-form form-sm mb-4">
                  <mdb-icon fas icon="lock" class="prefix"
                    [ngClass]="{'fas error-message': passwordConfirmation.errors && submittedRegister, 'fas success-message': !encryptedPassword.errors && !passwordConfirmation.errors && submittedRegister && !passwordConfirmation.hasError('mustMatch')}">
                  </mdb-icon>
                  <input mdbInput type="password" id="password_confirmation" class="form-control"
                    [ngClass]="{'invalid': passwordConfirmation.errors && submittedRegister, 'valid': !encryptedPassword.errors && !passwordConfirmation.errors && submittedRegister && !passwordConfirmation.hasError('mustMatch')}"
                    name="passwordConfirmation" formControlName="passwordConfirmation" autocomplete="new-password" maxlength="15">
                    <label for="passwordConfirmation">Confirmar contraseña *</label>
                  <mat-error *ngIf="passwordConfirmation.hasError('required') && submittedRegister">
                    La confirmación de la contraseña es <strong>requerida</strong>.
                  </mat-error>
                  <mat-error *ngIf="passwordConfirmation.hasError('mustMatch') && submittedRegister">
                    La confirmación de la contraseña debe coincidir con la del campo Contraseña.
                  </mat-error>
                </div>
                <div class="md-form form-sm mb-4">
                  <mdb-icon fas icon="camera" class="prefix"></mdb-icon>
                  <input mdbInput type="file" class="form-control border-none"  accept=".jpg,.jpeg,.png,.bmp,.gif"  (change)="onFileChange($event)" />
                  <app-loading *ngIf="loading" (fullScreen)="true" (message)="'Cargando Imagen...'" ></app-loading>
                  <img *ngIf="image?.value" class="d-block img-login" [src]="image.value" alt="image.name" >
                </div>
                <div class="md-form form-sm mb-4">
                  <mdb-icon fas icon="phone" class="prefix" [ngClass]="{'fas error-message': phone.errors && submittedRegister}">
                  </mdb-icon>
                  <input mdbInput type="text" id="phone" class="form-control" name="phone" formControlName="phone"
                    [ngClass]="{'invalid': phone.errors && submittedRegister}" maxlength="20" >
                    <label for="phone">Teléfono *</label>
                  <mat-error *ngIf="phone.hasError('required') && submittedRegister">
                    El teléfono es <strong>requerido</strong>.
                  </mat-error>
                </div>

                <div formGroupName="address">
                  <div class="row mx-0 mb-4">
                    <div class="md-form col-7 form-sm m-0 px-0">
                      <mdb-icon fas icon="address-book" class="prefix"
                        [ngClass]="{'fas error-message': (addressStreet.errors && submittedRegister || addressNumber.errors && submittedRegister)}">
                      </mdb-icon>
                      <input mdbInput type="text" id="street" class="form-control" name="street"
                        [ngClass]="{'invalid': addressStreet.errors && submittedRegister}" formControlName="street"
                        maxlength="200">
                        <label for="street">Calle *</label>
                      <mat-error *ngIf="addressStreet.hasError('required') && submittedRegister">
                        La calle es <strong>requerida</strong>.
                      </mat-error>
                    </div>
                    <div class="md-form col-5 form-sm m-0 pr-0 pl-3">
                      <input mdbInput type="text" id="number" class="form-control" name="number"
                        [ngClass]="{'invalid': addressNumber.errors && submittedRegister}" formControlName="number" maxlength="10" >
                        <label for="number" class="pl-3">Número *</label>
                      <mat-error *ngIf="addressNumber.hasError('required') && submittedRegister">
                        El numero es <strong>requerido</strong>.
                      </mat-error>
                    </div>
                  </div>
                  <div class="row mx-0 mb-4">
                    <div class="md-form col-6 form-sm m-0 px-0">
                      <mdb-icon fas icon="crosshairs" class="prefix"></mdb-icon>
                      <input mdbInput type="text" id="apartment" class="form-control" name="apartment"
                        formControlName="apartment" maxlength="3">
                        <label for="apartment">Depto.</label>
                    </div>
                    <div class="md-form col-6 form-sm m-0 pr-0 pl-3">
                      <input mdbInput type="text" id="floor" class="form-control" name="floor" formControlName="floor" maxlength="3">
                        <label for="floor" class="pl-3">Piso</label>
                    </div>
                  </div>
                  <div class="row mx-0 mb-4">
                    <div class="md-form col-6 form-sm m-0 px-0">
                      <mdb-icon fas icon="map-marked-alt" class="prefix"></mdb-icon>
                      <input mdbInput type="text" id="latitude" class="form-control" name="latitude"
                        formControlName="latitude" maxlength="22">
                        <label for="latitude">Latitud</label>
                    </div>
                    <div class="md-form col-6 form-sm m-0 pr-0 pl-3">
                      <input mdbInput type="text" id="longitude" class="form-control" name="longitude"
                        formControlName="longitude" maxlength="22" >
                        <label for="longitude" class="pl-3">Longitud</label>
                    </div>
                  </div>
                  <div class="md-form form-sm mb-4">
                    <mdb-icon fas icon="search-plus" class="prefix"></mdb-icon>
                    <textarea mdbInput type="text" id="description" class="md-textarea form-control py-2" name="description"
                      rows="2" formControlName="description" maxlength="350"></textarea>
                      <label for="description">Información Adicional Domicilio</label>
                  </div>

                </div>
                <div class="text-center form-sm mt-2">
                  <button class="btn bc-first-custom white-text" id="signUpButton" type="submit"
                    mdbWavesEffect>Registrarse <mdb-icon fas icon="sign-in-alt"></mdb-icon></button>
                </div>
              </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-right">
                <p class="pt-1">¿Ya tienes una cuenta? <a class="c-text-first-custom"
                    (click)="tabRegisterActive = false">Ingresar</a></p>
              </div>
              <button type="button" class="btn btn-outline-first-custom waves-effect ml-auto" data-dismiss="modal"
                (click)="close()" mdbWavesEffect>Cerrar</button>
            </div>
          </div>
          <!--/.Panel 2-->

          <!--


             <div class="text-center">
               <a type="button" mdbBtn floating="true" color="fb" class="waves-light" mdbWavesEffect>
                 <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="tw" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="gplus" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="google-plus"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="ins" class="waves-light" mdbWavesEffect>
              <mdb-icon fab icon="instagram"></mdb-icon>
            </a>
          </div>
        -->

        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
