@import '../../../../variables';

::ng-deep .modal-backdrop{
  height: 100%;
}


::ng-deep .modal-dialog{
  min-width: 320px;
}
.modal-content{
    border: 0;
        border-radius: .125rem;
    }

    modal-c-tabs ul{
        display: flex;
        margin: -1.5rem 1rem 0 1rem;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        position: relative;
        z-index: 1;
        padding: .7rem;
        margin-right: 1rem;
        margin-bottom: -20px;
        margin-left: 1rem;
        border: 0;
        border-radius: .25rem;
    }
    .md-tabs {
       position: relative;
       z-index: 1;
       padding: .7rem;
       margin-right: 1rem;
       margin-bottom: -20px;
       margin-left: 1rem;
       border: 0;
       border-radius: .25rem;
       -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
       box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  }

    .nav-tabs .nav-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
       a{
        color: #fff;
        border: 0;
        -webkit-transition: all .4s;
        transition: all .4s;
    &.nav-link.active{
        color: #fff;
      background-color: rgba(0,0,0,0.2);
      border-radius: .25rem;
      -webkit-transition: all 1s;
      transition: all 1s;
     }
    }
    }

    .tab-content{
            padding: 1.7rem 0 0 0;
    }

    .img-login{
      max-width: 80%;
      max-height: 15rem;
      margin-left: auto;
      margin-right: auto;
    }

    modal-body{
    padding-right: 2.2rem;
        padding-left: 2.2rem;
        color: #616161;
    }
    ::ng-deep .md-form input[type=text]:focus:not([readonly]),
    ::ng-deep .md-form input[type=password]:focus:not([readonly]),
    ::ng-deep .md-form input[type=email]:focus:not([readonly]),
    ::ng-deep .md-form input[type=url]:focus:not([readonly]),
    ::ng-deep .md-form input[type=time]:focus:not([readonly]),
    ::ng-deep .md-form input[type=date]:focus:not([readonly]),
    ::ng-deep .md-form input[type=datetime-local]:focus:not([readonly]),
    ::ng-deep .md-form input[type=tel]:focus:not([readonly]),
    ::ng-deep .md-form input[type=number]:focus:not([readonly]),
    ::ng-deep .md-form input[type=search-md]:focus:not([readonly]),
    ::ng-deep .md-form input[type=search]:focus:not([readonly]),
    ::ng-deep .md-form textarea.md-textarea:focus:not([readonly]){
      box-shadow: 0 1px 0 0 $secondColor;
      border-bottom: 1px solid $secondColor;
    }
    ::ng-deep .md-form input[type=text]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=password]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=email]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=url]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=time]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=date]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=datetime-local]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=tel]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=number]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=search-md]:focus:not([readonly]) + label,
    ::ng-deep .md-form input[type=search]:focus:not([readonly]) + label,
    ::ng-deep .md-form textarea.md-textarea:focus:not([readonly]) + label{
      color: $secondColor;
    }
    ::ng-deep .md-form .prefix.active{
      color: $secondColor;
    }

    ::ng-deep .md-form input[type="text"],
    ::ng-deep .md-form input[type="password"],
    ::ng-deep .md-form input[type="email"],
    ::ng-deep .md-form input[type="url"],
    ::ng-deep .md-form input[type="time"],
    ::ng-deep .md-form input[type="date"],
    ::ng-deep .md-form input[type="datetime-local"],
    ::ng-deep .md-form input[type="tel"],
    ::ng-deep .md-form input[type="number"],
    ::ng-deep .md-form input[type="search-md"],
    ::ng-deep .md-form input[type="search"],
    ::ng-deep .md-form textarea.md-textarea{
      border-bottom: 1px solid green;
      box-shadow: 0 1px 0 0 green;
  }

  ::ng-deep .md-form mdb-icon{
    color: $firstColor;

  }

    .form-control{
      color: $firstColor;
    }

  .btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
  }

  .btn-fb {
    color: #fff;
    background-color: #3b5998 !important;
  }
  .btn-tw {
    color: #fff;
    background-color: #55acee !important;
  }
  .btn-gplus {
    color: #fff;
    background-color: #dd4b39 !important;
  }
  .btn-ins {
    color: #fff;
    background-color: #2e5e86 !important;
  }
  .btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 47px;
  height: 47px;
  .fab{

    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
  }
  }
