<div fxFlex fxLayout="column">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" >
      <div class="float-left ml-2">
        <app-search (search)="search($event)"></app-search>
      </div>
      <div class="float-right mr-2">
        <div class="btn-group mr-3 mt-3 float-right" mdbDropdown>
          <button mdbDropdownToggle type="button" mdbBtn mdbWavesEffect
            class="btn btn-outline-first-custom btn-small dropdown-toggle waves-light">
            <i class="mr-1" [ngClass]="selectedOrder?.cssIcon"></i>
            <span>{{ selectedOrder?.name }}</span>
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-primary">
            <li class="dropdown-item waves-light" mdbWavesEffect *ngFor="let order of orders"
              [ngClass]="{ active: order.id === selectedOrder?.id }">
              <a (click)="onChangeOrder(order)"><i class="mr-1" [ngClass]="order.cssIcon"></i>{{ order.name }}</a>
            </li>
          </div>
        </div>
    </div>
  </div>

  <div fxFlex fxLayout="row" *ngIf="!loading">
    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="resultsLength"
      showFirstLastButtons class="mb-2 w-100" (page)="OnPageChange($event)">
    </mat-paginator>
  </div>
  <div fxFlex fxLayout="column" *ngIf="!loading">
    <ng-container *ngFor="let produc of producerList">
        <app-card-producer [producer]="produc"></app-card-producer>
    </ng-container>
  </div>
</div>
