<div mdbModal #locationModal="mdbModal" class="modal fade" tabindex="0" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg" role="document" *ngIf="available">
    <div class="modal-content" *ngIf="node">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{node.name}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mx-0">
          <div class="container-fluid mt-3 mb-5">

            <!-- Section: Block Content -->
            <section class="mb-4">
              <div class="card">
                <div class="row">
                  <div class="col-md-6 map-column">

                    <!-- Google Maps -->

                      <app-map [long]="this.node?.address.longitude" [lat]="this.node?.address.latitude"></app-map>
                      <!--

                        <iframe [src]="srcSantized" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      -->
                    <!-- Google Maps -->

                  </div>

                  <div class="col-10 col-md-5 mx-auto align-self-center py-4">
                    <img class="d-block w-100 h-100" *ngIf="node.image" [src]="node.image.value" [alt]="node.name">

                    <h6 class="font-weight-bold grey-text text-uppercase small">
                      {{node.name + (node.description ? ' - ' + node.description : "")}}</h6>
                    <h5 class="font-weight-normal mb-4">
                      <mdb-icon fas icon="map-marker-alt mr-2 c-text-first-custom"></mdb-icon>
                      <span addressFull [address]="node.address">
                      </span>
                    </h5>
                    <p class="text-muted font-weight-light">
                      <mdb-icon fas icon="phone" class="prefix c-text-first-custom mr-2"></mdb-icon>{{node.phone}}
                    </p>

                  </div>
                </div>

              </div>

            </section>
            <!-- Section: Block Content -->

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="btn-outline-second-custom waves-light" mdbWavesEffect (click)="close()"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
