<div mdbModal #configCategoryModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document" *ngIf="available">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="c-text-first-custom">Categoria
                    <span>{{action == 'new' ? ' Nueva' : ' (Modo ' + (action == 'detail'  && !actionEdit? 'Consulta)' : 'Edición)')}}</span>
                </h1>
                <button mat-icon-button class="close-button" (click)="close()">
                    <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="categoryName" class="form-control" maxlength="50"
                            [ngClass]="{'invalid': hasError('name') }" [readonly]="action == 'detail' && !actionEdit" name="categoryName"
                            formControlName="name">
                        <label for="categoryName">Nombre *</label>
                        <mat-error *ngIf="hasError('name')">
                            El nombre es <strong>requerido</strong>.
                        </mat-error>
                    </div>
                    <div class="md-form form-sm mb-4" formGroupName="parent" >
                        <mat-form-field [ngClass]="{'readonly-wrapper': action == 'detail'  && !actionEdit }">
                            <mat-select formControlName="id" [ngClass]="{'readonly-block': action == 'detail' && !actionEdit }"
                                id="categoryParent" name="categoryParent" [disabled]="action == 'detail' && !actionEdit">
                                <mat-option [value]="null">
                                </mat-option>
                                <mat-option *ngFor="let category of categories" [value]="category.id">
                                    {{category.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <label for="categoryParent" class="mt--1">Padre</label>
                    </div>
                    <div class="md-form form-sm mb-4" *ngIf="action != 'detail' || actionEdit">
                        <mdb-icon fas icon="camera" class="prefix" >
                        </mdb-icon>
                        <input mdbInput type="file" class="form-control border-none" id="categoryImage" name="categoryImage"
                            (change)="readURL($event)" accept=".jpg,.jpeg,.png,.bmp,.gif" />
                    </div>
                    <app-loading *ngIf="loading" (fullScreen)="true" (message)="'Cargando Imagen...'" ></app-loading>
                    <div class="mb-1" *ngIf="currentImage?.value">
                      <button mat-icon-button color="warn" class="remove-button bg-white" *ngIf="action !== 'detail' || actionEdit" mdbWavesEffect (click)="removeImage()">
                        <mat-icon class="mat-18">delete</mat-icon>
                      </button>
                    <img [src]="getSrcImage()" width="100%"  class="center mb-1 mt--40px" />
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbWavesEffect (click)="close()"
                    class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
                <button type="button" *ngIf="action == 'detail' && !actionEdit" (click)="edit()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>editar</button>
                <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="save()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>guardar</button>
            </div>
        </div>
    </div>
</div>
