@import '../../../../variables';

.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.modal-dialog {
  z-index: 1100 !important;
}

.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}

.mt--1{
  margin-top: -1rem;
  font-size: 0.875rem;
}

.mt--40px{
  margin-top: -2.5rem;
}

::ng-deep .mat-select-arrow{
  color: $firstColor;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
  color: $secondColor;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $firstColor;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: $secondColor;
}
