<div mdbModal #configExpenseModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true"
>
    <div class="modal-dialog modal-lg " role="document" *ngIf="available">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="c-text-first-custom">Expensa
                    <span>{{action == 'new' ? ' Nueva' : ' (Modo ' + (action == 'detail' && !actionEdit? 'Consulta)' : 'Edición)')}}</span>
                </h1>
                <button mat-icon-button class="close-button" (click)="close()">
                    <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                  <div class="md-form form-sm mb-4" >
                    <mat-form-field [ngClass]="{'readonly-wrapper': action !== 'new' && !actionEdit }">
                      <mat-select formControlName="staff" [ngClass]="{'readonly-block': action !== 'new' && !actionEdit }"
                        id="expenseStaff" name="expenseStaff" [disabled]="action !== 'new' && !actionEdit">
                        <mat-option [value]="null">
                        </mat-option>
                        <mat-option *ngFor="let staff of staffsList" [value]="staff.id">
                          {{staff.description}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <label for="expenseStaff" class="mt--1">Staff</label>
                  </div>
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="expenseService" class="form-control"
                            [ngClass]="{'invalid': hasError('description') }" [readonly]="action == 'detail' && !actionEdit"
                            name="expenseService" formControlName="description">
                        <label for="expenseService">Servicio *</label>
                        <mat-error *ngIf="hasError('description') ">
                            El servicio es <strong>requerido</strong>.
                        </mat-error>
                    </div>
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="expenseQuantity" class="form-control"
                        [readonly]="action == 'detail' && !actionEdit"
                         name="expenseQuantity"  formControlName="quantity">
                        <label for="expenseQuantity">Cantidad</label>
                    </div>
                    <div class="md-form form-sm mb-4">
                        <input mdbInput numeric decimals="2" type="text" min="0" id="expensePrice" class="form-control"
                        [readonly]="action == 'detail' && !actionEdit"
                            name="expensePrice"  formControlName="price">
                        <label for="expensePrice">Precio</label>
                    </div>
                    <div class="md-form form-sm mb-4">
                        <input mdbInput numeric decimals="2" type="text" min="0" id="expenseTotal" class="form-control"
                        [readonly]="true" name="expenseTotal"  formControlName="total">
                        <label for="expenseTotal">Total</label>
                    </div>
                    <div class="md-form form-sm mb-4">
                      <mat-form-field class="w-220">
                          <mat-label>Fecha</mat-label>
                          <input matInput [matDatepicker]="pickerDate" formControlName="date"
                              (click)="(action != 'detail' || actionEdit) && pickerDate.open()"
                              [readonly]="action == 'detail' && !actionEdit" name="expenseDate"
                              [max]="maxDate" id="expenseDate"
                              (keydown)="false">
                          <mat-datepicker-toggle matSuffix [for]="pickerDate"
                              [disabled]="action == 'detail' && !actionEdit"></mat-datepicker-toggle>
                          <mat-datepicker #pickerDate></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div class="md-form form-sm mb-4">
                    <mat-form-field class="w-220">
                        <mat-label>Fecha Pago</mat-label>
                        <input matInput [matDatepicker]="pickerBalanceDate" formControlName="balanceDate"
                            (click)="(action != 'detail' || actionEdit) && pickerBalanceDate.open()"
                            [readonly]="action == 'detail' && !actionEdit" name="expenseBalanceDate"
                            [max]="maxDate" id="expenseBalanceDate"
                            (keydown)="false">
                        <mat-datepicker-toggle matSuffix [for]="pickerBalanceDate"
                            [disabled]="action == 'detail' && !actionEdit"></mat-datepicker-toggle>
                        <mat-datepicker #pickerBalanceDate></mat-datepicker>
                    </mat-form-field>
                </div>
                    <!--
                      staff:Staff;
  service:string;
  quantity: number;
  price:number;
  total:number;
  date:Date;
  balanceDate:Date;
  generalId: number;
                    -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbWavesEffect (click)="close()"
                    class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
                <button type="button" *ngIf="action == 'detail' && !actionEdit" (click)="edit()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>editar</button>
                <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="save()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>guardar</button>
            </div>
        </div>
    </div>
</div>
