@import '../../../../variables';

.product-detail .product-head {
  padding: 10px;
  font-weight: 500;
}

.product-detail .table th {
  width: 152px;
}

.product-ship {
  height: 15rem;
}

.price {
  color: black;
  background-color: $sixthColor;
  padding: 0.2rem;
}

::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
.modal{
  overflow-x: hidden;
  overflow-y: auto;

}