<div mdbModal #productDetailModal="mdbModal" class="modal fade" tabindex="0" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg" role="document" *ngIf="available">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row mx-0">
          <div class="col-lg-5">
            <!--Carousel Wrapper-->
            <mdb-carousel [isControls]="true" [animation]="'slide'" *ngIf="cantImage > 1">
              <mdb-slide *ngFor="let image of product.images">
                <img class="d-block w-100 h-100" [src]="image.value" alt="image.name" (click)="openGalleryModal()">
              </mdb-slide>
            </mdb-carousel>
            <img *ngIf="cantImage === 0" class="d-block w-100 h-100" src="../../../../../assets/no_image.jpg" alt="No hay Imagen">
            <img *ngIf="cantImage === 1" class="d-block w-100 h-100" [src]="getFirstImage()" alt="product.images[0].name" (click)="openGalleryModal()">

            <!--/.Carousel Wrapper-->
          </div>
          <div class="col-lg-7">
            <h1 class="h2-responsive c-text-first-custom  title_AS bold">{{product.title | uppercase}}
            </h1>
            <h4 class="h4-responsive">
              <span class="font-weight-bold price">
                <strong> {{  product.price| currency:'$' }}</strong>
              </span>
            </h4>

            <!--Accordion wrapper style="max-height: 28px"-->
            <table class="table" cellspacing="0">
              <tbody>
                <tr>
                  <th scope="row">Descripción</th>
                  <td>{{product.description}}</td>
                </tr>
                <tr *ngIf="product.producer">
                  <th scope="row">Productor</th>
                  <td>{{ product.producer.name }}
                  </td>
                </tr>

                <tr *ngIf="product.categories">
                  <th scope="row">Categoria/s</th>
                  <td> <ng-container *ngFor="let cat of product.categories"> {{ cat.name }}</ng-container>
                  </td>
                </tr>
                <tr *ngIf="product.brand">
                  <th scope="row">Marca</th>
                  <td>{{product.brand}}</td>
                </tr>
                <tr>
                  <th scope="row" *ngIf="product.unit">{{product.unit.description}}</th>
                  <td>{{product.unitQuantity }} <span *ngIf="product.unitDescription">
                      ({{product.unitDescription}})</span></td>
                </tr>
                <tr>
                  <th scope="row">Stock Disponible</th>
                  <td><span> {{product.stock}}</span></td>
                </tr>
              </tbody>
            </table>
            <!--/.Accordion wrapper-->

            <!-- Add to Cart -->
            <div class="card-body">

              <!--

              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <mat-form-field >
                      <mat-label>Choose your color</mat-label>
                      <mat-select>
                        <mat-option value="option1">Rojo</mat-option>
                        <mat-option value="option2">Gris </mat-option>
                        <mat-option value="option3">Blanco</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <mat-form-field>
                      <mat-label>Choose your size</mat-label>
                      <mat-select style="z-index: 2000;">
                        <mat-option value="s">s</mat-option>
                        <mat-option value="m">m </mat-option>
                        <mat-option value="xl">xl</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            -->

            </div>
            <!-- /.Add to Cart -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="btn-outline-second-custom waves-light" mdbWavesEffect (click)="close()"
          data-dismiss="modal">Cerrar</button>
          <button mdbBtn class="bc-first-custom waves-light text-white" *ngIf="availableAddToCart()" mdbWavesEffect (click)="addToCart()">Agregar a la
            compra
            <i class="fas fa-shopping-basket ml-2" ></i>
          </button>          
          <ngx-number-spinner class="spinner-quantity" *ngIf="inTheCart()" 
              [value]="quantityInTheCart()"
              (change)="changeToCart($event)"
              [min]="1"
              [max]="product.stock">
          </ngx-number-spinner>
          <button mdbBtn class="bc-second-custom waves-light text-white" *ngIf="inTheCart()" mdbWavesEffect (click)="removeToCart()">Quitar de la
            compra
            <i class="fas fa-trash-alt ml-2" ></i>
          </button>
      </div>
    </div>
  </div>
</div>
