<div mdbModal #configProductModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true"
>
  <div class="modal-dialog modal-lg " role="document" *ngIf="available">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="c-text-first-custom">Producto
          <span>{{action == 'new' ? ' Nuevo' : ' (Modo ' + (action == 'detail'? 'Consulta)' : 'Edición)')}}</span></h1>
        <button mat-icon-button class="close-button" (click)="close()">
          <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
        </button>
      </div>
      <div class="modal-body" >
        <form [formGroup]="form">
          <div class="md-form form-sm mb-4">
            <input mdbInput type="text" id="productTitle" class="form-control"  maxlength="50"
              [ngClass]="{'invalid': hasError('title')}" [readonly]="action == 'detail' && !actionEdit"
              name="productTitle" formControlName="title">
            <label for="productTitle">Titulo *</label>
            <mat-error *ngIf="hasError('title')">
              El titulo es <strong>requerido</strong>.
            </mat-error>
          </div>
          <div class="md-form form-sm mb-4" >
            <mat-form-field [ngClass]="{'readonly-wrapper': action == 'detail'  && !actionEdit }">
              <mat-select formControlName="producer" [ngClass]="{'readonly-block': action == 'detail' && !actionEdit }"
                id="productProducer" name="productProducer" [disabled]="action == 'detail' && !actionEdit">
                <mat-option [value]="null">
                </mat-option>
                <mat-option *ngFor="let producer of producersList" [value]="producer.id">
                  {{producer.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <label for="productProducer" class="mt--1">Productor</label>
          </div>
          <div class="md-form form-sm mb-4">
            <textarea mdbInput type="text" id="productDescription" class="md-textarea form-control py-2"
              [readonly]="action == 'detail' && !actionEdit" name="productDescription" rows="2"  maxlength="2000"
              formControlName="description"></textarea>
            <label for="description">Descripción</label>
          </div>
          <div class="md-form form-sm mb-4">
            <app-chips-select *ngIf="categoriesList"  [elementsSelected]="categories.value" [allElements]="categoriesList" [readonly]="action == 'detail' && !actionEdit"
            [invalid]="hasError('categories')" (onSelected)="changeSelectedCategory($event)" [placeholder]="'Seleccione categorias *'">
            </app-chips-select>
            <mat-error *ngIf="hasError('categories')">
              Debe seleccionar al menos una categoria.
            </mat-error>
          </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput type="text" id="productBrand" class="form-control" name="productBrand"  maxlength="50"
              [readonly]="action == 'detail' && !actionEdit" formControlName="brand">
            <label for="productBrand">Marca</label>
          </div>
          <div class="row mx-0 mb-4">
            <div class="md-form col-sm-6 form-sm m-0 px-0">
            <input mdbInput type="number" min="1" id="productUnitQuantity" class="form-control"
              name="productUnitQuantity" [readonly]="action == 'detail' && !actionEdit" formControlName="unitQuantity">
            <label for="productUnitQuantity">Cantidad unidad</label>
          </div>
          <div class="md-form col-sm-6 form-sm m-0 pl-2">
            <mat-form-field [ngClass]="{'readonly-wrapper': action == 'detail'  && !actionEdit }">
              <mat-select formControlName="unit" [ngClass]="{'readonly-block': action == 'detail' && !actionEdit }"
                id="productUnit" name="productUnit" [disabled]="action == 'detail' && !actionEdit">
                <mat-option [value]="null">
                </mat-option>
                <mat-option *ngFor="let unit of units" [value]="unit.id">
                  {{unit.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <label for="productUnit" class="mt--1">Unidad *</label>
            <mat-error *ngIf="hasError('unit')">
              Debe seleccionar una unidad de medida.
            </mat-error>
          </div>
        </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput type="text" id="productUnitDescription" class="form-control"  maxlength="200"
              [readonly]="action == 'detail' && !actionEdit" name="productUnitDescription"
              formControlName="unitDescription">
            <label for="productUnitDescription">Descripción unidad</label>
          </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput numeric decimals="2" type="text" min="0" id="productBuyPrice" class="form-control"
              name="productBuyPrice" [readonly]="action == 'detail' && !actionEdit" formControlName="buyPrice"
              [ngClass]="{'invalid': hasError('buyPrice')}">
            <label for="productBuyPrice">Precio Productor *</label>
            <mat-error *ngIf="hasError('buyPrice')">
              El precio de compra al productor es <strong>requerido</strong>.
            </mat-error>
          </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput numeric decimals="2" type="text" min="0" id="productPrice" class="form-control"
              name="productPrice" [readonly]="action == 'detail' && !actionEdit" formControlName="price"
              [ngClass]="{'invalid': hasError('price')}">
            <label for="productPrice">Precio Venta *</label>
            <mat-error *ngIf="hasError('price')">
              El precio es <strong>requerido</strong>.
            </mat-error>
          </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput type="number" min="0" id="productStock" class="form-control" name="productStock"
              [readonly]="action == 'detail' && !actionEdit" formControlName="stock">
            <label for="productStock">Stock</label>
          </div>
          <div class="md-form form-sm mb-4">
            <mat-slide-toggle id="productNeedCold" name="productNeedCold"
              [disabled]="action == 'detail' && !actionEdit" formControlName="needCold">Necesita frio
            </mat-slide-toggle>
          </div>
          <div class="md-form form-sm mb-4">
            <mat-slide-toggle id="productPromotion" name="productPromotion"
              [disabled]="action == 'detail' && !actionEdit" formControlName="isPromotion">Visualizar en la home
            </mat-slide-toggle>
          </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput type="number" min="0" max="100" id="productPercent" class="form-control"
              name="productPercent" [readonly]="action == 'detail' && !actionEdit" formControlName="percent">
            <label for="productPercent">Porcentaje</label>
          </div>
          <div class="md-form form-sm mb-4" *ngIf="action != 'detail' || actionEdit">
            <mdb-icon fas icon="camera" class="prefix">
            </mdb-icon>
            <input mdbInput type="file" multiple class="form-control border-none" id="productImages"
              name="productImages" (change)="readURL($event)" accept=".jpg,.jpeg,.png,.bmp,.gif" />
          </div>
          <mat-radio-group >
            <ng-container *ngFor="let image of currentImages; let i = index;">
              <mat-radio-button class="mt-2 mb-1" [value]="image.isMain" [checked]="image.isMain" (change)="selectImageMain(i)" >Imagen Principal</mat-radio-button>
              <div class="mb-1">
                <button mat-icon-button color="warn" class="remove-button bg-white" *ngIf="action !== 'detail' || actionEdit" mdbWavesEffect (click)="removeImage(image)">
                  <mat-icon class="mat-18">delete</mat-icon>
                </button>
                <app-loading *ngIf="loading" (fullScreen)="true" (message)="'Cargando Imagen...'" ></app-loading>
                <img *ngIf="currentImages" [src]="image.value" width="100%" class="center mb-1 mt--40px" />
              </div>
              <mat-divider class="mb-4"></mat-divider>
            </ng-container>
          </mat-radio-group>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" mdbWavesEffect (click)="close()"
          class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
        <button type="button" *ngIf="action == 'detail' && !actionEdit" (click)="edit()" mdbWavesEffect
          class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>editar</button>
        <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="save()" mdbWavesEffect
          class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>guardar</button>
      </div>
    </div>
  </div>
</div>
