.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.remove-button {
  float: right;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.modal-dialog {
  z-index: 1100 !important;
}

.mt--1{
  margin-top: -1rem;
  font-size: 0.875rem;
}

.mt--40px{
  margin-top: -2.5rem;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 2px !important;
}