<div mdbModal #configProducerModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true"
>
  <div class="modal-dialog modal-lg " role="document" *ngIf="available">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="c-text-first-custom">Productor
          <span>{{action == 'new' ? ' Nuevo' : ' (Modo ' + (action == 'detail'? 'Consulta)' : 'Edición)')}}</span></h1>
        <button mat-icon-button class="close-button" (click)="close()">
          <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="md-form form-sm mb-4">
            <input mdbInput type="text" id="producerName" class="form-control"  maxlength="50"
              [ngClass]="{'invalid': hasError('name')}" [readonly]="action == 'detail' && !actionEdit"
              name="producerName" formControlName="name">
            <label for="producerName">Nombre *</label>
            <mat-error *ngIf="hasError('name')">
              El nombre es <strong>requerido</strong>.
            </mat-error>
          </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput type="text" id="producerOrigin" class="form-control" [readonly]="action == 'detail' && !actionEdit"
              name="producerOrigin" formControlName="origin"  maxlength="50">
            <label for="producerName">Procedencia</label>
          </div>
          <div formGroupName="address">
            <div class="row mx-0 mb-4">
              <div class="md-form col-7 form-sm m-0 px-0">
                <input mdbInput type="text" id="producerAddressStreet" class="form-control" name="producerAddressStreet"
                 formControlName="street"  maxlength="200" >
                  <label for="producerAddressStreet">Calle</label>
              </div>
              <div class="md-form col-5 form-sm m-0 pr-0 pl-3">
                <input mdbInput type="text" id="producerAddressNumber" class="form-control" name="producerAddressNumber"
                 formControlName="number"  maxlength="10" >
                  <label for="producerAddressNumber" class="pl-3">Número</label>
              </div>
            </div>
            <div class="row mx-0 mb-4">
              <div class="md-form col-6 form-sm m-0 px-0">
                <input mdbInput type="text" id="producerAddressApartment" class="form-control" name="producerAddressApartment"
                  formControlName="apartment"  maxlength="3">
                  <label for="producerAddressApartment">Depto.</label>
              </div>
              <div class="md-form col-6 form-sm m-0 pr-0 pl-3">
                <input mdbInput type="text" id="producerAddressFloor" class="form-control" name="producerAddressFloor" formControlName="floor"  maxlength="3">
                  <label for="producerAddressFloor" class="pl-3">Piso</label>
              </div>
            </div>
            <div class="row mx-0 mb-4">
              <div class="md-form col-6 form-sm m-0 px-0">
                <input mdbInput type="text" id="producerAddressLatitude" class="form-control" name="producerAddressLatitude"
                  formControlName="latitude"  maxlength="20" >
                  <label for="producerAddressLatitude">Latitud</label>
              </div>
              <div class="md-form col-6 form-sm m-0 pr-0 pl-3">
                <input mdbInput type="text" id="producerAddressLongitude" class="form-control" name="producerAddressLongitude"
                  formControlName="longitude"  maxlength="20" >
                  <label for="producerAddressLongitude" class="pl-3">Longitud</label>
              </div>
            </div>
            <div class="md-form form-sm mb-4">
              <textarea mdbInput type="text" id="producerAddressDescription" class="md-textarea form-control py-2" name="producerAddressDescription"
                rows="2" formControlName="description"  maxlength="350"></textarea>
                <label for="producerAddressDescription">Información Adicional Domicilio</label>
            </div>
          </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput type="text" id="producerPhone" class="form-control" name="producerPhone"
              [readonly]="action == 'detail' && !actionEdit" formControlName="phone"  maxlength="20"
              [ngClass]="{'invalid':  hasError('phone')}">
            <label for="producerPhone">Teléfono *</label>
            <mat-error *ngIf="  hasError('phone') ">
              El teléfono es <strong>requerido</strong>.
            </mat-error>
          </div>
          <div class="md-form form-sm mb-4">
            <app-chips-select *ngIf="tagsList"  [elementsSelected]="tags.value" [allElements]="tagsList" [readonly]="action == 'detail' && !actionEdit"
            [invalid]="hasError('tags')" [field]="'description'" (onSelected)="changeSelectedTag($event)" [placeholder]="'Seleccione tags *'">
            </app-chips-select>
            <mat-error *ngIf="hasError('tagsList')">
              Debe seleccionar al menos un tag.
            </mat-error>
          </div>
          <div class="md-form form-sm mb-4">
            <input mdbInput type="email" id="producerEmail" class="form-control" name="producerEmail" pattern
              [ngClass]="{'invalid':  submitted && email.errors}" [readonly]="action == 'detail' && !actionEdit"
              formControlName="email" [email]="true" autocomplete="email"  maxlength="200">
            <label for="producerEmail">Correo</label>
            <mat-error
              *ngIf="hasError('email', 'email') || email.hasError('pattern')" >
              Por favor, ingrese un correo valido.
            </mat-error>
          </div>
          <div class="md-form form-sm mb-4">
              <textarea mdbInput type="text" id="producerDescription" class="md-textarea form-control py-2"
                  [readonly]="action == 'detail' && !actionEdit" name="producerDescription" rows="2"
                  formControlName="description"  maxlength="350"></textarea>
              <label for="description">Descripción</label>
          </div>
          <div class="md-form form-sm mb-4" *ngIf="action != 'detail' || actionEdit">
            <mdb-icon fas icon="camera" class="prefix">
            </mdb-icon>
            <input mdbInput type="file" multiple class="form-control border-none" id="producerImages" name="producerImages"
              (change)="readURL($event)" accept=".jpg,.jpeg,.png,.bmp,.gif" />
          </div>
          <mat-radio-group >
            <ng-container *ngFor="let image of currentImages; let i = index;">
              <mat-radio-button class="mt-2 mb-1" [value]="image.isMain" [checked]="image.isMain" (change)="selectImageMain(i)" >Imagen Principal</mat-radio-button>
              <div class="mb-1">
                <button mat-icon-button color="warn" class="remove-button bg-white" *ngIf="action !== 'detail' || actionEdit" mdbWavesEffect (click)="removeImage(image)">
                  <mat-icon class="mat-18">delete</mat-icon>
                </button>
                <app-loading *ngIf="loading" (fullScreen)="true" (message)="'Cargando Imagen...'" ></app-loading>
                <img *ngIf="currentImages" [src]="image.value" width="100%" class="center mb-1 mt--40px" />
              </div>
              <mat-divider class="mb-4"></mat-divider>
            </ng-container>
          </mat-radio-group>

          <div class="md-form form-sm mb-4">
            <input mdbInput type="text" id="producerYoutubeId" class="form-control" name="producerYoutubeId"
                [readonly]="action == 'detail' && !actionEdit" formControlName="youtubeVideoId"  maxlength="20">
            <label for="youtubeVideoId">Video Id Youtube</label>
        </div>

          <youtube-player *ngIf="youtubeVideoIdValue" [videoId]="youtubeVideoIdValue" suggestedQuality="highres" [height]="250"
            [width]="300" [startSeconds]="'4'" [endSeconds]="8">
          </youtube-player>
          <div class="md-form form-sm mb-4">
            <mat-slide-toggle id="producerIsCompany" name="producerIsCompany"
              [disabled]="action == 'detail' && !actionEdit" formControlName="isCompany">Organización
            </mat-slide-toggle>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbWavesEffect (click)="close()"
          class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
        <button type="button" *ngIf="action == 'detail' && !actionEdit" (click)="edit()" mdbWavesEffect
          class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>editar</button>
        <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="save()" mdbWavesEffect
          class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>guardar</button>
      </div>
    </div>
  </div>
</div>
