.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.modal-dialog {
  z-index: 1100 !important;
}

.mt--40px{
  margin-top: -2.5rem;
}
