<div mdbModal #configPurchaseModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true"
>
    <div class="modal-dialog modal-lg " role="document" *ngIf="available">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="c-text-first-custom">Compra
                    <span>{{action == 'new' ? ' Nuevo' : ' (Modo ' + (action == 'detail' && !actionEdit? 'Consulta)' : 'Edición)')}}</span>
                </h1>
                <button mat-icon-button class="close-button" (click)="close()">
                    <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                  <div class="md-form form-sm mb-4" >
                    <mat-form-field [ngClass]="{'readonly-wrapper': action !== 'new' && !actionEdit }">
                      <mat-select formControlName="product" [ngClass]="{'readonly-block': action !== 'new' && !actionEdit }"
                        id="purchaseProduct" name="purchaseProduct" [disabled]="action !== 'new' && !actionEdit" (selectionChange)="selectProduct($event)">
                        <mat-option [value]="null">
                        </mat-option>
                        <mat-option *ngFor="let product of productsList" [value]="product.id">
                          {{product.description}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <label for="purchaseProduct" class="mt--1">Producto</label>
                  </div>
                  <div class="md-form form-sm mb-4">
                      <input mdbInput type="text" id="purchaseQuantity" class="form-control" [readonly]="true"
                          name="purchaseQuantity"  formControlName="quantity">
                      <label for="purchaseQuantity">Cantidad</label>
                  </div>
                  <div class="md-form form-sm mb-4">
                      <input mdbInput type="text" id="purchaseAditional" class="form-control"
                       [readonly]="action == 'detail' && !actionEdit"
                          name="purchaseAditional"  formControlName="aditional">
                      <label for="purchaseAditional">Cantidad Adicional</label>
                  </div>
                  <div class="md-form form-sm mb-4">
                      <input mdbInput type="text" id="purchasePrice" class="form-control" [readonly]="true"
                          name="purchasePrice" formControlName="quantity">
                      <label for="purchasePrice">Precio</label>
                  </div>
                  <div class="md-form form-sm mb-4">
                      <input mdbInput numeric decimals="2" type="text" min="0" id="purchaseDiferencial" class="form-control"
                      [readonly]="action == 'detail' && !actionEdit"
                          name="purchaseDiferencial"  formControlName="diferencial">
                      <label for="purchaseDiferencial">Precio Diferencial</label>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbWavesEffect (click)="close()"
                    class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
                <button type="button" *ngIf="action == 'detail' && !actionEdit" (click)="edit()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>editar</button>
                <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="save()" mdbWavesEffect
                    class="btn bc-first-custom white-text waves-effect" cdkFocusInitial>guardar</button>
            </div>
        </div>
    </div>
</div>
