/* You can add global styles to this file, and also import other style files */
@import 'variables';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$la-justa-primary: mat-palette($mat-green, 900, 500);
$la-justa-accent: mat-palette($mat-deep-orange, 400, A100, A400);

// The warn palette is optional (defaults to red).
$la-justa-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$la-justa-theme: mat-light-theme($la-justa-primary, $la-justa-accent,  $la-justa-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($la-justa-theme);

@font-face {
  font-family: "AlegreyaSans";
  src: url("assets/fonts/AlegreyaSans-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSans";
  src: url("assets/fonts/AlegreyaSans-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AlegreyaSans";
  src: url("assets/fonts/AlegreyaSans-ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSans";
  src: url("assets/fonts/AlegreyaSans-ExtraBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("assets/fonts/SourceSansPro-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("assets/fonts/SourceSansPro-LightIt.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("assets/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("assets/fonts/SourceSansPro-BoldIt.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

html, body {
  margin: 0;
  height: 100%;
  min-width: 320px;
}
body, a, button, div, p, span, h1,h2,h3,h4,h5,li,ul {font-family: 'SourceSansPro', 'Poppins', sans-serif !important;}

.title_AS {
  font-family: 'AlegreyaSans', 'Poppins', sans-serif !important;
  &.bold{font-weight: bold !important;}
}


.c-text-first-custom, .icon-first-custom.prefix.fas.active{
  color: $firstColor!important;
}
.c-text-second-custom, .icon-second-custom.prefix.fas.active{
  color: $secondColor!important;
}
.c-text-seventh-custom, .icon-seventh-custom.prefix.fas.active{
  color: $seventhColor!important;
}

.c-one{
  color: $secondColor!important;
}
.c-two{
  color: $sixthColor!important;
}
.c-three{
  color: $fifthColor!important;
}
.c-four{
  color: $firstColor!important;
}
.c-six{
  color: $sixthColor !important;
}

.bc-first-custom{
  background-color: $firstColor!important;
}
.bc-second-custom{
  background-color: $secondColor!important;
}

.bc-first-custom-opacity-50{
  background-color: transparentize($firstColor, 0.5) !important;
}
.bc-second-custom-opacity-50{
  background-color: transparentize($secondColor, 0.5) !important;
}

.bc-first-custom-opacity-60{
  background-color: transparentize($firstColor, 0.4) !important;
}
.bc-second-custom-opacity-60{
  background-color: transparentize($secondColor, 0.4) !important;
}

.search-first-custom input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid $firstColor;
  box-shadow: 0 1px 0 0 $firstColor;
}
.search-second-custom input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid $secondColor;
  box-shadow: 0 1px 0 0 $secondColor;
}


button:focus{
  outline: none;
}

.bl-title-first-custom{
  border-left: 0.4rem solid $firstColor !important;
}

.bl-title-second-custom{
  border-left: 0.4rem solid $secondColor !important;
}

.btn-outline-first-custom {
  border: 0.2rem solid $firstColor!important;
  background-color: transparent!important;
  color: $firstColor!important;
}

.btn-outline-second-custom {
  border: 0.2rem solid $secondColor!important;
  background-color: transparent!important;
  color: $secondColor!important;
}


.border-none{
  border: none;
}

.cursor-pointer{
  cursor: pointer;
}

h3{
    font-size: 1.75rem!important;
  }
h4{
    font-size: 1.5rem!important;
  }
  h5{
    font-size: 1.25rem!important;
  }


  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:$firstColor;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:$firstColor;
    background-color:$firstColor;
  }

  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:$secondColor;
  }
