
$firstColor: #1B5e20; // verde principal
$secondColor: #ff7043; // naranja


$thirdColor: #026e33; // verde oscuro
$fourthColor: #009542; // verde medio
$fifthColor: #88b24e; // verde claro
$sixthColor: #ffca28; // amarillo
$seventhColor: #6d4c41; // marron
