<div mdbModal #configCartModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document" *ngIf="available">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="c-text-first-custom">Venta
                    <span>{{' (Modo ' + (action == 'detail' && !actionEdit? 'Consulta)' : 'Edición)')}}</span></h1>
                <button mat-icon-button class="close-button" (click)="close()">
                    <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <mat-list *ngIf="current">
                    <mat-list-item>Comprador:
                        <span class="text-muted"> {{ current.user.name}}</span> </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="mt-4 mb-2">Entrega: <span class="text-muted w-100"
                            *ngIf="action == 'detail' && !actionEdit"> {{current.nodeDate.node.name}}

                            <span class="text-muted">
                                ({{(current.nodeDate.day | date:'EEEE d \' de \'  MMMM \' del \' y') + ' de ' + (current.nodeDate.dateTimeFrom | date:'H:mm')  + 'hs a ' +  (current.nodeDate.dateTimeTo | date:'H:mm')+ 'hs' }})
                            </span>
                        </span>
                        <mat-form-field *ngIf="action != 'detail' || actionEdit" class="w-100">
                            <mat-select [(ngModel)]="current.nodeDate.id" name="nodesDate">
                                <mat-option *ngFor="let nodeg of nodes" [value]="nodeg.id">
                                    <strong>
                                        {{nodeg.node.name }}
                                    </strong>
                                    <span class="text-muted">
                                        ({{(nodeg.day | date:'EEEE d \' de \'  MMMM \' del \' y') + ' de ' + (nodeg.dateTimeFrom | date:'H:mm')  + 'hs a ' +  (nodeg.dateTimeTo | date:'H:mm')+ 'hs' }})
                                    </span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <div class="row mx-0">

                    <!--Accordion wrapper style="max-height: 28px"-->
                    <table class="table table-striped" *ngIf="current">
                        <thead>
                            <tr>
                                <th class="w-1rem">#</th>
                                <th>Item</th>
                                <th class="w-5rem">Precio</th>
                                <th class="w-6rem">Cantidad</th>
                                <th class="w-6rem">Total</th>
                                <th class="w-3rem"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of current.cartProducts; index as i;">
                                <th>{{i+1}}</th>
                                <td>{{item.product.title}}</td>
                                <td>{{ item.price | currency:'$' }}</td>
                                <td><input *ngIf="action != 'detail' || actionEdit" type="number" min="1"
                                        [max]="item.product.stock" (blur)="updateList(i, 'quantity', $event)"
                                        [ngModel]="item.quantity" />
                                    <span *ngIf="action == 'detail' && !actionEdit">
                                        {{item.quantity}}
                                    </span>
                                </td>
                                <td>{{item.price * item.quantity | currency:'$' }}</td>
                                <td *ngIf="action != 'detail' || actionEdit" (click)="removeRestoreItem(i)"><a>
                                        <mdb-icon *ngIf="!item.isCanceled" fas icon="trash"
                                            class="prefix c-text-second-custom"></mdb-icon>
                                        <mdb-icon *ngIf="item.isCanceled" fas icon="undo"
                                            class="prefix c-text-first-custom"></mdb-icon>
                                    </a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-right">
                                    <strong>
                                        <span>Total</span>:
                                    </strong>
                                </td>
                                <td colspan="2" class="text-left">
                                    <div *ngIf="isPersonal(); else withoutDiscount"><del>{{getTotal()| currency:'$' }}</del></div>
                                    <ng-template #withoutDiscount>{{getTotal()| currency:'$' }}</ng-template>
                                </td>
                            </tr>
                            
                            <tr *ngIf=isPersonal()>    
                                <td colspan="4" class="text-right">
                                    <strong>
                                        <span>Descuento por ser parte del equipo:</span>
                                    </strong>
                                </td>
                                <td colspan="2" class="text-left">
                                    {{ getPersonalDiscount()| currency:'$' }}
                                </td>
                            </tr>
                            <tr *ngIf=isPersonal()>    
                                <td colspan="4" class="text-right">
                                    <strong>
                                        <span>Total final:</span>
                                    </strong>
                                </td>
                                <td colspan="2" class="text-left">
                                    {{getTotalWithDiscount()| currency:'$' }}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" mdbWavesEffect (click)="close()"
                    class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
                <button type="button"
                    *ngIf="action == 'detail' && !actionEdit && !current.canceled && !current.deletedAt"
                    (click)="edit()" mdbWavesEffect class="btn bc-first-custom white-text waves-effect"
                    cdkFocusInitial>editar</button>
                <button type="button"
                    *ngIf="(action != 'detail' || actionEdit) && !current.canceled && !current.deletedAt"
                    (click)="save()" mdbWavesEffect class="btn bc-first-custom white-text waves-effect"
                    cdkFocusInitial>guardar</button>
            </div>
        </div>
    </div>
</div>
