<div class="m-3">
  <blockquote class="blockquote bl-title-first-custom">
    <h3 class="c-text-first-custom mb-0">Staff</h3>
  </blockquote>
  <div class="control-section">
    <app-table [displayedColumns]="['id', 'description', 'view', 'edit', 'delete']"
        [textColumns]="['id', 'Descripción']" [type]="'STAFF'" (detail)="onDetail($event)"
        (new)="onNew()" (edit)="onEdit($event)" (delete)="onDelete($event)" (restore)="onRestore($event)"></app-table>
</div>
</div>
