<div class="md-form search-first-custom mr-3 float-right mb-2">
  <mdb-icon fas icon="search" class="prefix icon-first-custom" (click)="onSearch()"></mdb-icon>
  <input mdbInput class="form-control" type="text" name="search" id="search" [(ngModel)]="textSearch"
    (keyup.enter)="onSearch()" (focusout)="onSearch()" >
  <label for="search">Buscar</label>
</div>