<div mdbModal #configUserModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" [config]="{backdrop: 'static', keyboard: false}"
    aria-hidden="true" >
    <div class="modal-dialog modal-lg " role="document" *ngIf="available">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="c-text-first-custom">Usuario <span>{{action == 'new' ? ' Nuevo' : ' (Modo ' + (action == 'detail'? 'Consulta)' : 'Edición)')}}</span></h1>
                <button mat-icon-button class="close-button" (click)="close()">
                    <mat-icon class="close-icon c-text-first-custom">close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="userFirstName" class="form-control"  maxlength="50"
                            [ngClass]="{'invalid': hasError('firstName') }" [readonly]="action == 'detail'" name="userFirstName"
                            formControlName="firstName">
                        <label for="userFirstName">Nombre *</label>
                        <mat-error *ngIf="hasError('firstName') ">
                            El nombre es <strong>requerido</strong>.
                        </mat-error>
                    </div>
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="userLastName" class="form-control" name="userLastName"  maxlength="50"
                            [ngClass]="{'invalid': hasError('lastName') }" [readonly]="action == 'detail'" formControlName="lastName">
                        <label for="userLastName">Apellido *</label>
                        <mat-error *ngIf="hasError('lastName') ">
                            El apellido es <strong>requerido</strong>.
                        </mat-error>
                    </div>
                    <div class="md-form form-sm mb-4">
                      <mat-form-field [ngClass]="{'readonly-wrapper': action == 'detail'  && !actionEdit }">
                        <mat-select formControlName="role" [ngClass]="{'readonly-block': action == 'detail' && !actionEdit }"
                            id="userRole" name="userRole" [disabled]="action == 'detail' && !actionEdit">
                            <mat-option *ngFor="let enum of roles | keyvalue" [value]="enum.value">
                                {{enum.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="email" id="userEmail" class="form-control" name="userEmail"  maxlength="200"
                            [ngClass]="{'invalid':  submitted && email.errors  }" [readonly]="action == 'detail'" formControlName="email"
                            [email]="true" autocomplete="email">
                        <label for="userEmail">Correo *</label>
                        <mat-error *ngIf="!hasError('email') && (hasError('email','email') || email.hasError('pattern')) ">
                            Por favor, ingrese un correo valido.
                        </mat-error>
                        <mat-error *ngIf="hasError('email') ">
                            El correo es <strong>requerido</strong>.
                        </mat-error>
                    </div>
                    <div class="md-form form-sm mb-4">
                        <textarea mdbInput type="text" id="userDescription" class="md-textarea form-control py-2"  maxlength="500"
                            name="userDescription" rows="2" formControlName="description"></textarea>
                        <label for="userDescription">Descripción</label>
                    </div>
                    <div class="md-form form-sm mb-4">
                        <input mdbInput type="text" id="userPhone" class="form-control" name="userPhone" [readonly]="action == 'detail'" formControlName="phone"
                            [ngClass]="{'invalid': hasError('phone') }"  maxlength="20">
                        <label for="userPhone">Teléfono *</label>
                        <mat-error *ngIf="hasError('phone') ">
                            El teléfono es <strong>requerido</strong>.
                        </mat-error>
                    </div>

                    <div formGroupName="address">
                      <div class="row mx-0 mb-4">
                        <div class="md-form col-7 form-sm m-0 px-0">
                          <input mdbInput type="text" id="userAddressStreet" class="form-control" name="userAddressStreet"
                            [ngClass]="{'invalid': hasError('address.street')}" formControlName="street"  maxlength="200"
                            >
                            <label for="userAddressStreet">Calle *</label>
                          <mat-error *ngIf="hasError('address.street')">
                            La calle es <strong>requerida</strong>.
                          </mat-error>
                        </div>
                        <div class="md-form col-5 form-sm m-0 pr-0 pl-3">
                          <input mdbInput type="text" id="userAddressNumber" class="form-control" name="userAddressNumber"
                            [ngClass]="{'invalid': hasError('address.number') }" formControlName="number"  maxlength="10" >
                            <label for="userAddressNumber" class="pl-3">Número *</label>
                          <mat-error *ngIf="hasError('address.number')">
                            El numero es <strong>requerido</strong>.
                          </mat-error>
                        </div>
                      </div>
                      <div class="row mx-0 mb-4">
                        <div class="md-form col-6 form-sm m-0 px-0">
                          <input mdbInput type="text" id="userAddressApartment" class="form-control" name="userAddressApartment"
                            formControlName="apartment"  maxlength="3">
                            <label for="userAddressApartment">Depto.</label>
                        </div>
                        <div class="md-form col-6 form-sm m-0 pr-0 pl-3">
                          <input mdbInput type="text" id="userAddressFloor" class="form-control" name="userAddressFloor" formControlName="floor"  maxlength="3">
                            <label for="userAddressFloor" class="pl-3">Piso</label>
                        </div>
                      </div>
                      <div class="row mx-0 mb-4">
                        <div class="md-form col-6 form-sm m-0 px-0">
                          <input mdbInput type="text" id="userAddressLatitude" class="form-control" name="userAddressLatitude"
                            formControlName="latitude"  maxlength="20">
                            <label for="userAddressLatitude">Latitud</label>
                        </div>
                        <div class="md-form col-6 form-sm m-0 pr-0 pl-3">
                          <input mdbInput type="text" id="userAddressLongitude" class="form-control" name="userAddressLongitude"
                            formControlName="longitude"  maxlength="20" >
                            <label for="userAddressLongitude" class="pl-3">Longitud</label>
                        </div>
                      </div>
                      <div class="md-form form-sm mb-4">
                        <textarea mdbInput type="text" id="userAddressDescription" class="md-textarea form-control py-2" name="userAddressDescription"
                          rows="2" formControlName="description"  maxlength="350"></textarea>
                          <label for="userAddressDescription">Información Adicional Domicilio</label>
                      </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbWavesEffect (click)="close()"
                    class="btn btn-outline-first-custom waves-effect">{{ action == 'detail' && !actionEdit ? 'cerrar' : 'cancelar'}}</button>
                    <button type="button" *ngIf="action == 'detail' && !actionEdit" (click)="edit()" mdbWavesEffect class="btn bc-first-custom white-text waves-effect"
                        cdkFocusInitial>editar</button>
                    <button type="button" *ngIf="action != 'detail' || actionEdit" (click)="save()" mdbWavesEffect class="btn bc-first-custom white-text waves-effect"
                        cdkFocusInitial>guardar</button>
            </div>
        </div>
    </div>
</div>
